extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block top
  div
    p.
      The Venture Leader Award was created to encourage the development of true outdoor leaders who
      can prove their ability by organising more adventurous <i>Ventures</i>.

    .spacer.v20

    .notice(data-type="info").
      In this award there is an immediate jump to the leader award as it is assumed that learners who have attained a Venture Award
      are already at an instructor level since they prove during the completion of the Venture Award that they already have
      the ability to take care of others in a leadership capacity.

block requirements
  ol.spacious
    li You have achieved the Venture Award.
    li.
      You submit a further proposal for a Venture trip applying the same criteria as the initial Venture
      (refer to the <a href="/awards/venture">Venture Award</a>) that has an element of real adventure or exploration in it.
    li.
      The proposal is to be excellent in all respects and the trip is to be carried out in a
      manner which shows the you have a mature attitude.
    li.
      After completion of the Venture Leader award, you will be given responsibility for assisting others in planning
      their Venture expeditions which will assist in promoting the Venture activity at Treverton.

block script
  script.
    setAward("ventureLeader")
    setDifficulty(4)
    setSkillLevel(4)