extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block top
  div
    p.
      Adventure in Outdoor Pursuits doesn't stop after Treverton.
      Thus it is the goal of the Venture Award to encourage the development of a spirit of adventure amongst participants in the
      O.P. programme that will stay with them forever.
    p Most of the excitement and learning of the Venture experience occurs in the planning stage and buildup.

block requirements
  p.
    You must conceive, plan and execute an expedition or exploration which has specific objectives of either traveling
    a certain distance or attaining a certain exploratory objective (e.g. attempting to find and map caves in a Drakensberg valley).

  .spacer.v20

  p An expedition must consist of at least two overnight bivouacs and be of a minimum of 7 hours physical exercise duration each day.

  .spacer.v20

  p An exploration must also devote at least seven hours a day to an exploratory activity.

  .spacer.v20

  .notice(data-type="warning").
    Venture Awards are not automatically granted upon the completion of an expedition
    since an extremely high standard of planning, execution and reporting is expected.

block extra
  div
    h2.heading Procedure To Follow For Organising A Venture Trip

    .spacer.v20

    ol.spacious
      li.
        A full plan is to be submitted in the logbook of the administrator of the group a minimum of two weeks before
        the intended Venture activity.
      li.
        This plan is to be neatly presented in typed form for approval by the MIC.
        The headings given in the outline below must be seen as an absolute minimum.
        Any shoddy/scrappy proposals will not be considered.
      li.
        Depending upon the nature of the exercise and at the discretion of the headmaster and MIC an adult member will need to
        accompany the expedition. Note that Housemasters and parents' permission is required for venture trips during school term.
      li Venture activities are ideal for holidays, so plan ahead!
        .spacer.v20
        .notice(data-type="success") Get parents involved, many successful trips have included parents.

  div
    h2.heading Outline Of Headings For A Detailed Plan

    .spacer.v20

    ol.spacious
      li Objective of expedition or exploration <b>(What)</b>
        .spacer.v20
        ul
          li What is the aim of the planned trip?
      li Location of planned trip <b>(Where)</b>
        .spacer.v20
        ul
          li Where will the trip take place?
      li Plan of action <b>(How)</b>
        .spacer.v20
        ul
          li.
            When (times and dates) - look out for possible clashes with other school activities - check the
            term calendar and check with the staff member responsible for the activity with which there is a possible clash
          li Transport
          li Skills needed and how these skills will be obtained (e.g. riding a bicycle)
          li Training needed and how this will be gained
          li Division of responsibilities amongst the group (i.e. who does what and when)
          li Equipment needed (maps, tents etc. - refer to <i>Reach Beyond</i> and other books for reference).
          li Detailed menu (from which you will make up your food list)
          li Checklist for final packing and activities before you leave
          li Possible risks, safety precautions
          li First aid measures

block out
  div.plr16
    h2.heading Food Organisation

    .spacer.v20

    .cards
      div
        h3 Step 1
        p Prepare a detailed menu.
        .spacer.v10
        p e.g.
        .spacer.v10
        ul
          li Saturday breakfast: caviar, biltong and sauerkraut
          li Saturday lunch: bully beef, oats, litchis, etc.

      div
        h3 Step 2
        p Work out quantities.
        .spacer.v10
        p e.g.
        .spacer.v10
        ul
          li 3kg biltong
          li 2kg sauerkraut
          li etc.

      div
        h3 Step 3
        p Fill these quantities in neatly on the school catering request form which you may obtain from the school secretary.

      div
        h3 Step 4
        p Fill in all the details required on the form and double check.

      div
        h3 Step 5
        p.
          Hand to the MIC for checking and signature - this must be done at least two weeks before the intended trip.
          If the MIC is not available then get headmaster's approval directly. However, make sure you have your act together!

      div
        h3 Step 6
        p Notify caterer of any changes.

      div
        h3 Step 7
        p Collect food at the appointed time.

      div
        h3 Step 8
        p.
          Thank the caterer before and afterwards. It takes as much time to sort out food for one small
          group as it does to prepare a meal for 200 people!

    .spacer.v20

    .notice(data-type="warning").
      This food request form must be submitted first to the MIC at least two weeks before the intended trip.
      The MIC will submit it to the headmaster and caterer.

block script
  script.
    setAward("venture")
    setDifficulty(4)
    setSkillLevel(3)