extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block style
  style.
    table.distances {
      border-spacing: 30px 0;
    }

    table.distances th {
      font-weight: 600;
    }

block requirements
  ol.spacious
    li Complete a total of 100km of competetive road/trail running in less than two years.
    li To make sure that you achieve your true potential, you are required to do the following:
      .spacer.v20
      table.distances
        tr
          th Race Distance
          th Minimum Weekly Training
        tr
          td 5km
          td 4km
        tr
          td 10km
          td 5km
        tr
          td 15km
          td 10km
        tr
          td 21km
          td 15km
        tr
          td 42km
          td 30km
    li Before races, you will need to show your logbook to the MIC to qualify for entry. Your distance per day must also be taken into account.
      .spacer.v20
      .notice(data-type="success") Seven runs of 1km each are more benefitial than one 7km run.

block script
  script.
    setAward("running")
    setDifficulty(2)
    setSkillLevel(1)

    if (isLoggedIn()) {
      const distanceDisplay = createElement("p", { t: LOADING_TEXT })

      const distanceMeter = createElement("meter")
      distanceMeter.max = 100000

      appendInfo([
        createElement("h3", { t: "Distance Run" }),
        distanceDisplay,
        distanceMeter
      ])

      getRequest(`/users/${getUserId()}/awards/running/distance`).then(res => {
        const { distance } = res
        distanceDisplay.innerHTML = `${round(distance / 1000, 2)}km / 100km`
        distanceMeter.value = distance
      })
    }