extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  ol
    li Complete a total of 100km of competetive road/trail running in less than two years.
    li
      p To make sure that you achieve your true potential, you are required to do the following:
      .spacer.v20
      table
        tr
          th Race Distance
          th Minimum Weekly Training
        tr
          td 5km
          td 4km
        tr
          td 10km
          td 5km
        tr
          td 15km
          td 10km
        tr
          td 21km
          td 15km
        tr
          td 42km
          td 30km
    li.
      Before races, you will need to show your logbook to the TIC to qualify for entry.
      Your distance per day must also be taken into account
      (seven runs of 1km each are more benefitial than one 7km run).

block script
  script.
    setAward("running")
    setDifficulty(2)
    setSkillLevel(1)
    showLogs("running")

    if (isLoggedIn()) {
      const totalDistanceDisplay = createElement("p")
      totalDistanceDisplay.innerHTML = LOADING_TEXT

      const totalDistanceMeter = createElement("meter")
      totalDistanceMeter.max = 100000

      appendInfo([
        createElement("h3", { t: "Total Distance" }),
        totalDistanceDisplay,
        totalDistanceMeter
      ])

      getRequest(`/users/${getUserId()}/awards/running/distance`).then(res => {
        const { distance } = res
        totalDistanceDisplay.innerHTML = `${distance / 1000}km / 100km`
        totalDistanceMeter.value = distance
      })
    }