extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  ol
    li Complete a total of 100km of competetive road/trail running in less than two years.
    li
      p To make sure that you achieve your true potential, you are required to do the following:
      .spacer.v20
      table
        tr
          th Race Distance
          th Minimum Weekly Training
        tr
          td 5km
          td 4km
        tr
          td 10km
          td 5km
        tr
          td 15km
          td 10km
        tr
          td 21km
          td 15km
        tr
          td 42km
          td 30km
    li.
      Before races, you will need to show your logbook to the TIC to qualify for entry.
      Your distance per day must also be taken into account
      (seven runs of 1km each are more benefitial than one 7km run).

block logs
  h2.pl16 Running Logs
  .spacer.v20
  .logs(data-type="running")

block scripts
  script.
    const totalDistance = new Promise(r => {
      setTimeout(()=> r(70000), 1000)
    })

    setAwardName("Running")
    setAwardDescription(`Spend time on the trails and accumulate 100km of distance to earn this award.
      Every time you go for a run, log it so that your total distance increases.
      Once you've reached 100km, you will receive this award.`)
    setDifficulty(1)
    setSkillLevel(2)

    const totalDistanceDisplay = createElement("p")
    totalDistanceDisplay.innerHTML = LOADING_TEXT

    const totalDistanceMeter = createElement("meter")
    totalDistanceMeter.max = 100000

    totalDistance.then(d => {
      totalDistanceDisplay.innerHTML = `${d / 1000}km / 100km`
      totalDistanceMeter.value = d
    })

    appendInfo([
      createElement("h3", {t: "Total Distance"}),
      totalDistanceDisplay,
      totalDistanceMeter
    ])