extends ../layout

block content
  script(src='/javascripts/global/awards.js')

  .spacer.v20
  h1#award-title.pl16 Award Title

  .col-container
    .col1
      .requirements
        h2 Requirements
        .spacer.v20
        block requirements

      block extra

    .col2
      #info
        h2#award-info-title Award Info Title
        .spacer.v10
        p#award-description

        .spacer.v20
        .line
        .spacer.v20

        h3 Difficulty
        .spacer.v10
        #difficulty.rating
          span
          span
          span
          span
          span

        .spacer.v10

        h3 Skill Level
        .spacer.v10
        #skill-level.rating
          span
          span
          span
          span
          span

    #award-links.col3
      div(onclick="window.location.href='/awards'")
        p Awards
        .material-icons chevron_right
      #basic-link(style="display: none")
        p Basic Award
        .material-icons chevron_right
      #instructor-link(style="display: none")
        p Instructor Award
        .material-icons chevron_right
      #leader-link(style="display: none")
        p Leader Award
        .material-icons chevron_right

  #title-start
  block logs
  .spacer.v40