extends ../layout

block content
  script(src='/javascripts/global/awards.js')

  .spacer.v20
  h1#award-title.pl16 Award Title

  .sides-container
    .left
      .spacer.v20

      .requirements
        h2 Requirements
        .spacer.v20
        block requirements

    .right
      #info
        h2#award-info-title Award Info Title
        .spacer.v10
        p#award-description

        .spacer.v20
        .line
        .spacer.v20

        h3 Difficulty
        .spacer.v10
        #difficulty.rating
          span
          span
          span
          span
          span

        .spacer.v10

        h3 Skill Level
        .spacer.v10
        #skill-level.rating
          span
          span
          span
          span
          span