extends ../layout

block content
  script(src='/javascripts/layouts/awards.js')

  .login-notice(style=`display: ${displays.loggedIn.false.block}`)
    h2 Sign in!
    p.
      Signing in will allow you to view your logs, signoffs and other information about each award.
      Sign in <a class="signin-link">here</a>.

  .spacer.v20
  h1#award-title.pl16 Award Title

  .col-container
    .col1
      .requirements
        h2 Requirements
        .spacer.v20
        block requirements

      block extra

    .col2
      #info
        h2#award-info-title Award Info Title
        .spacer.v10
        p#award-description

        .line

        h3(style=`display: ${displays.loggedIn.true.block}`) Status

        #award-status.invisible
          p
          .material-icons

        #award-status-info.invisible(style="font-size: 14px")
          p 19/12/2023
          p by Derek Brown

        #request-container.invisible
          button Request Signoff
          .material-icons.info info
            p Once you think you have completed the award criteria, you can submit a request for it to be signed off.

        .line(style=`display: ${displays.loggedIn.true.block}`)

        h3 Difficulty
        .spacer.v10
        #difficulty.rating
          span
          span
          span
          span
          span

        .spacer.v10

        h3 Skill Level
        .spacer.v10
        #skill-level.rating
          span
          span
          span
          span
          span

    #award-links.col3
      div(onclick="window.location.href='/awards'")
        p Awards
        .material-icons chevron_right

  .bottom-content
    #signoffs-section.invisible
      h2.pl16 Signoffs
      .spacer.v20
      #signoffs

    #logs-section

  .spacer.v40