extends ../layout

block content
  script(src='/javascripts/layouts/award-layout.js')

  .login-notice(style=`display: ${displays.loggedIn.false.block}`)
    h2 Sign in!
    p.
      Signing in will allow you to view your logs, signoffs and award-specific information.
      Sign in <a class="signin-link">here</a>.

  .spacer.v20

  h1#award-title.pl16 Award Title

  .col-container
    .col1
      div
        h2.heading Requirements
        .spacer.v20
        block requirements
      block extra

    .col2
      #award-info
        h2#award-info-title.headingb Award Info Title
        .spacer.v10
        p#award-description

        .line

        h3(style=`display: ${displays.loggedIn.true.block}`) Status

        #award-status.invisible
          p
          .material-icons

        #award-status-info.invisible(style="font-size: 14px")
          p date
          p by

        #request-container.invisible
          button Request Signoff
          .material-icons.info info
            p Once you think you have completed the award criteria, you can submit a request for it to be signed off.

        #requested-container.invisible
          p Signoff Requested
          button Cancel
        
        #decline-container.invisible
          .top
            h3 Request Declined
            .material-icons.dropdown expand_more
          .bottom
            .spacer.v10
            p date
            p by
            p
            .spacer.v10
            button Clear Decline

        .line(style=`display: ${displays.loggedIn.true.block}`)

        h3 Difficulty
        .spacer.v10
        #difficulty.rating
          span
          span
          span
          span
          span

        .spacer.v10

        h3 Skill Level
        .spacer.v10
        #skill-level.rating
          span
          span
          span
          span
          span

    #award-links.col3
      div(onclick="window.location.href='/awards'")
        p Awards
        .material-icons chevron_right

  .bottom-content
    #signoffs-section.invisible
      h2.heading.pl16 Signoffs
      .spacer.v20
      #signoffs

    #logs-section

  .spacer.v40