extends ./kayaking-layout

block top
  p.
    As is the case in other disciplines, a Kayaking Leader is to show exceptional ability in the sport as well as have
    the ability to lead by example and to exemplify the correct attitude.

block requirements
  ol.spacious
    li.
      Have been an instructor of at least one season's standing with a proven (logged) record of varied river trips.
      A leader will work alongside the MIC sharing much of the responsibility.
    li A formal kayaking/guiding flat-water certificate (minimum level 1) is essential.
    li Attendance of an African Paddling Association River Guide Course is highly recommended.
    li Plan a trip (including all logistics, briefings, client control/assistance/assurance).
    li Correctly interpret environmental conditions (including possible dangers and weather).

block s
  script.
    setAward("kayakingLeader")
    setDifficulty(4)
    setSkillLevel(4)