extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block requirements
  ol.spacious
    li Have the necessary signoffs.

block extra
  div
    h2.heading Responsibilities Of A Kayaking Instructor

    .spacer.v20

    ol.spacious
      li Foster a responsible attitude towards kayaking.
      li Spend time instructing learners in theoretical and practical aspects of kayaking.
      li Administer theory and practical tests to learners.
      li Be responsible for preparing groups of kayakers for river trips as well as shepherding them down.
      li Maintenance of the kayaking inventory as a duty monitor at the boat shed.
      li Develop your own skills as a kayaker and thus to teach by example.

block script
  script.
    setAward("kayakingInstructor")
    setDifficulty(1)
    setSkillLevel(4)