extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  ol
    li A

block logs
  h2.pl16 Flat Water Paddling Logs
  .spacer.v20
  .logs(data-type="flatWaterPaddling")

  .spacer.v40

  h2.pl16 River Trip Logs
  .spacer.v20
  .logs(data-type="riverTrip")

block script
  script.
    const totalDistance = new Promise(r => {
      setTimeout(()=> r(70000), 1000)
    })

    setAwardName("Kayaking")
    setAwardDescription(`TODO`)
    setDifficulty(1)
    setSkillLevel(1)
    showPoints()