extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block requirements
  ol.spacious
    li
      p Five x 15 lengths of the dam time trials (kayak)
      p.option-indicator or
      p Five x 16 lengths of the dam time trials (K1)
      p.option-indicator or
      p Five x 18 lengths of the dam time trials (K2)
    li Pass the practical Novice Kayaking Test as follows:
      .spacer.v20
      ul
        li Reverse paddling
        li Bow rudder stroke (to initiate turn)
        li Draw stroke and figure 8 maneuver (to move sideways)
        li Slap support stroke (to prevent capsize)
        li Sculling support stroke (i.e. large sweep stroke - to prevent capsizing)
        li Stability against yawing (able to paddle in a straight line)
        li Correct launching and beaching techniques
        li Capsize (with spraydeck)
    li Have the other necessary signoffs.

block script
  script.
    setAward("kayaking")
    setDifficulty(2)
    setSkillLevel(2)