extends ../layout

block head
  meta(name="robots" content="noindex")

block assets
  link(rel="stylesheet" href="/stylesheets/pages/admin/award-history.css")
  script(src="/javascripts/admin/award-history.js")

block content
  .p16
    h1 Award History
    p.limit-width A list of all the awards which have been granted to users in chronological order.

    .spacer.v20

    #history-container