extends ../layout

block head
  meta(name="robots" content="noindex")

block assets
  link(rel="stylesheet" href="/stylesheets/pages/admin/checklist.css")
  script(src="/javascripts/admin/checklist.js")

block content
  .p16
    h1 Checklist Users