extends ../layout

block assets
  link(rel="stylesheet" href='/stylesheets/pages/admin/permissions.css')
  script(src='/javascripts/admin/permissions.js')

block content
  div.p16
    h1 Permissions Page
    p.limit-width.
      This page allows staff to manage the permissions of other users.
      The <i>Manage Permissions</i> permission is required to view this page.

    .spacer.v20

    .notice(data-type="info") You cannot see yourself in this list because you cannot manage your own permissions.

    .spacer.v20

    .notice(data-type="warning") Users with the <i>Manage Permissions</i> permission automatically have all other permissions.

    .spacer.v20

    #add-user
      .add-icon +
      p Add User
    
    #add-user-input.invisible
      h2.heading Add User
      p Provide the user's email adress.
      .spacer.v20
      #add-user-info-container.invisible
        p.info Please wait...
        .spacer.v10
      .row
        input#user-input(type="text" placeholder="e.g. jdoe@treverton.co.za")
        #add-button.material-icons add_circle

    .spacer.v20

    #users