extends ../layout

block head
  meta(name="robots" content="noindex")

block assets
  link(rel="stylesheet" href="/stylesheets/pages/admin/permissions.css")
  script(src="/javascripts/admin/permissions.js")

block content
  div.p16
    h1 User Permissions
    p.limit-width This page allows staff to manage the permissions of other users.

    .spacer.v20

    .notice(data-type="info") You cannot see yourself in this list because you cannot manage your own permissions.

    .spacer.v20

    h2.heading Permission Types

    .spacer.v20

    ul.limit-width.spacious.permissions-list
      li
        p.permission Manage Awards
        p Users with this permission can:

        .spacer.v20

        ul
          li Grant and revoke awards and signoffs
          li View user logs
      li
        p.permission Manage House Points
        p.
          Allows users to view the <a href="/admin/house-points">House Points</a> page.
          This allows them to update the displayed house points and set whether the house points should be displayed on the <a href="/">Home</a> page.
      li
        p.permission Manage MICs
        p Allows users to set the MICs for each award. The names of the MICs for an award are shown on the page of that award.
      li
        p.permission Manage Permissions
        p Allows users to view this page in order to manage the permissions of other users.
        .spacer.v20
        .notice(data-type="warning") Users with this permission automatically have <b>all other</b> permissions as well.
      li
        p.permission View Award History
        p Allows users to view the <a href="/admin/award-history">Award History</a> page.

    .spacer.v20

    h2.heading User Permissions

    .spacer.v20

    #add-user
      .add-icon +
      p Add User

    #add-user-input.invisible
      h3 Add User
      p Provide the user's email adress.
      .spacer.v20
      #add-user-info-container.invisible
        p.info Please wait...
        .spacer.v10
      .row
        input#user-input(type="text" placeholder="e.g. jdoe@treverton.co.za")
        #add-button.material-icons add_circle

    .spacer.v20

    #users