@import "../../global";

$banner-breakpoint: 500px;

.banner {
    background-image: url("/assets/backgrounds/home.webp");
    height: 980px;
    position: relative;

    .top {
        @extend .center-chv;
        padding: 0 20px;

        h1 {
            color: $color-primary-400;
            margin-bottom: 16px;
            font-size: 45px;
            font-weight: 700;
            margin-top: 150px;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            max-width: 880px;
            text-align: center;
        }

        @media screen and (min-width: $banner-breakpoint) {
            h1 {
                font-size: 60px;
            }

            p {
                font-size: 20px;
            }
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 32px;
            justify-content: center;
            margin-top: 32px;

            a {
                align-items: center;
                border-radius: 16px;
                cursor: pointer;
                display: flex;
                font-size: 16px;
                font-weight: 500;
                justify-content: center;
                height: 60px;
                text-decoration: none;
                width: 175px;
            }

            .primary {
                background-color: $color-primary-400;
                border: none;
                color: white;

                &:hover {
                    background-color: $color-primary-300;
                }
            }

            .secondary {
                background-color: rgb(0, 0, 0, 0);
                border: 2px solid $color-primary-400;
                color: $color-primary-400;

                &:hover {
                    background-color: rgb(255, 255, 255, 0.1);
                }
            }
        }
    }

    .slideshow {
        background-color: rgb(255, 255, 255, 0.3);
        border-bottom: 2px solid black;
        bottom: 0;
        color: white;
        position: absolute;

        .slide {
            &.info {
                font-size: 20px;
                padding: 0 50px;
                text-align: center;
            }

            &.loading {
                height: 200px;
                font-size: 20px;
            }

            &.none {
                height: 250px;
                row-gap: 10px;
                padding: 0 50px;
                text-align: center;
            }

            &.recent {
                align-items: center;
                display: flex;
                flex-direction: column;
                position: relative;

                button {
                    background-color: white;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 20px 0 40px 0;
                    padding: 16px 48px;

                    &:hover {
                        background-color: $white-hover;
                    }
                }

                h1 {
                    font-size: 38px;
                    font-weight: 300;
                    margin-top: 20px;
                    text-align: center;
                }

                .info {
                    font-size: 18px;
                    font-weight: 500;
                    padding: 0 50px;
                    text-align: center;
                }

                @media screen and (min-width: 400px) {
                    h1 {
                        font-size: 48px;
                    }

                    .info {
                        font-size: 25px;
                    }
                }

                @media screen and (min-width: 600px) {
                    h1 {
                        font-size: 64px;
                    }

                    .info {
                        font-size: 30px;
                    }
                }

                .date {
                    bottom: 16px;
                    color: rgb(200, 200, 200);
                    font-size: 14px;
                    left: 16px;
                    position: absolute;
                }
            }
        }

        .next {
            right: -40px;

            img {
                left: 5px;
            }
        }

        .previous {
            left: -40px;

            img {
                right: 5px;
            }
        }

        .next,
        .previous {
            background-color: white;
            border-radius: 20px;
            cursor: pointer;
            height: 70px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 70px;
            z-index: 10;

            &:hover {
                background-color: $white-hover;
            }

            img {
                height: 26px;
                position: absolute;
                top: 37.5px - 13px;
                width: 26px;
            }
        }
    }
}

.section-house-points {
    padding: 32px;

    @media screen and (min-width: $banner-breakpoint) {
        padding: 64px;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
    }

    p.points {
        font-size: 14px;

        @media screen and (min-width: $banner-breakpoint) {
            font-size: 16px;
        }
    }

    p.position {
        align-items: center;
        display: flex;
        font-family: "Edu VIC WA NT Beginner", cursive;
        font-size: 32px;
        font-weight: 600;

        @media screen and (min-width: $banner-breakpoint) {
            font-size: 40px;
        }
    }

    .card {
        border-radius: 8px;
        padding: 16px;

        @media screen and (min-width: $banner-breakpoint) {
            padding: 16px 32px;
        }

        &.c {
            background-color: rgb(218, 8, 8);
            color: white;
        }

        &.h {
            background-color: rgb(238, 203, 4);
        }

        &.j {
            background-color: rgb(18, 121, 218);
            color: white;
        }

        h2 {
            font-size: 20px;

            @media screen and (min-width: $banner-breakpoint) {
                font-size: 24px;
            }
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 50px 1fr;
        margin-top: 20px;
        row-gap: 20px;

        @media screen and (min-width: $banner-breakpoint) {
            grid-template-columns: 60px 1fr;
        }
    }
}

.section-text {
    line-height: 1.6;
    margin: 0 auto;
}