@import "../../global";

$settings-space-left: 50px;

#settings {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 16px;

    .line {
        border-top: 2px solid rgb(220, 220, 220);
        width: 100%;
    }

    .setting {
        padding: 20px 0;
        padding-left: $settings-space-left;

        p.title {
            color: rgb(50, 50, 50);
            font-weight: 400;
        }

        p.value {
            font-weight: 600;
        }

        &.highlightable {
            cursor: pointer;
            transition: 0.1s;

            .edit {
                display: none;
            }

            &:hover {
                background-color: rgb(245, 245, 245);

                .edit {
                    display: block;
                }
            }
        }

        &:not(.highlightable) .edit {
            display: none;
        }

        &.profile-picture-setting {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            div {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                row-gap: 15px;
                width: min-content;

                img {
                    border-radius: 62px;
                    height: 124px;
                    width: 124px;
                }

                p {
                    color: $color-accent-400;
                    cursor: pointer;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &#name-setting {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 64px;
            row-gap: 20px;

            .row {
                align-items: center;
                column-gap: 15px;
                display: flex;

                .input-container {
                    align-items: center;
                    column-gap: 10px;
                    display: flex;

                    input,
                    select {
                        border: 2px solid rgb(150, 150, 150);
                        border-radius: 4px;
                    }

                    input {
                        padding: 8px;
                    }

                    select {
                        padding: 7px;
                    }

                    .cancel {
                        cursor: pointer;
                    }

                    .save {
                        background-color: rgb(230, 230, 230);
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 10px 16px;
                        transition: 0.25s background-color;

                        &:hover {
                            background-color: rgb(210, 210, 210);
                        }
                    }
                }
            }
        }
    }
}