extends ./profile-admin-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/profile/admin-award.css")
  script(src="/javascripts/profile/admin-award.js")

block profile-content
  h1#award-name.plrt16

  div(style="padding: 0 32px")
    .ruler

    h2.heading Status
    #status

    #links-container.invisible
      .ruler
      h2.heading Links
      .spacer.v20
      #links

    #signoffs-container.invisible
      .ruler
      h2.heading Signoffs
      .spacer.v20
      #signoffs

    #logs-container.invisible
      .ruler
      h2.heading Logs
      .spacer.v20
      #logs

    .ruler