extends ./profile-admin-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/profile/admin-checklist.css")
  script(src="/javascripts/profile/admin-checklist.js")

block profile-content
  .p16
    h1 RISE Checklist
    p.limit-width.
      Manage which checklist items this user has completed.
      If the checklist is disabled, this user will not show up on the checklist users overview, and the user will not be able to view their checklist.

    .spacer.v20

    .topbar
      button#checklist-enabled-button.primary.invisible Enable Checklist
      p#total-complete

    .spacer.v10

    #items-container.invisible