extends ./profile-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/profile/admin.css")
  script(src="/javascripts/profile/admin.js")

block profile-content
  .p16
    h1 Admin

    .spacer.v20

    .notice(data-type="info") The numbers beside each award indicate the number of signoff requests the user has requested for that award.

    .spacer.v20

    #cards