extends ../layout

block content
  script.
    function getProfileUserId() {
      return parseInt(location.pathname.split("/")[2])
    }

  .col1
    .spacer.v20
    
    .name-and-picture
      img.profile-picture(src=profileUser.profilePicture)
      p= profileUser.titleName

    .spacer.v20

    p.pl16= grade
    p.email.pl16= profileUser.email

    .spacer.v20

    .line

    block sidebar

  .col2
    block profile-content