extends ./profile-layout

block assets
  link(rel='stylesheet' href='/stylesheets/pages/profile/profile.css')
  script(src='/javascripts/profile/profile.js')

block sidebar
  .spacer.v20
  .center-rh
    .joined-buttons
      #profile-window-buttons.buttons
        button Awards
        .joiner
        button Stats
      .underline

block profile-content
  #windows
    .window
      h1 Awards
      .spacer.v10
      table#awards-display
    .window
      h1 Stats
      p Coming soon!