extends ./profile-layout

block assets
  link(rel='stylesheet' href='/stylesheets/pages/profile/profile.css')
  //- script(src='/javascripts/profile/requests.js')

block sidebar
  .spacer.v20
  h2.plr16 TODO

block profile-content
  .p16
    h1 Requests
    p Coming soon!