* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.block-content-container {
  min-height: 90vh;
}

a.link {
  color: rgb(0, 200, 255);
  text-decoration: underline;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding8 {
  padding: 8px;
}

.padding16 {
  padding: 16px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.spacer.v10 {
  height: 10px;
}

.spacer.v20 {
  height: 20px;
}

.spacer.v40 {
  height: 40px;
}

.spacer.v60 {
  height: 60px;
}

.spacer.v80 {
  height: 80px;
}

.material-icons {
  color: rgb(148, 148, 148);
}

.slideshow {
  overflow: hidden;
}
.slideshow .card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .card-container .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .indicator-container {
  align-items: center;
  bottom: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  left: 50%;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
}
.slideshow .indicator-container .indicator {
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  transition: 0.5s;
  width: 10px;
}
.slideshow .indicator-container .indicator.selected {
  background-color: rgb(50, 50, 50);
  height: 12px;
  transform: translateY(-5px);
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.7);
  width: 12px;
}

.sides-container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 20px;
}
@media screen and (min-width: 620px) {
  .sides-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }
}
.sides-container .left {
  max-width: 1000px;
}
.sides-container .left .requirements {
  padding: 0 16px;
  text-align: justify;
}
.sides-container .left .requirements ol,
.sides-container .left .requirements ul {
  margin-left: 20px;
}
.sides-container .left .requirements > ol,
.sides-container .left .requirements > ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.sides-container .right {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 620px) {
  .sides-container .right {
    padding: 0px 20px 0 0;
  }
}
.sides-container .right > * {
  max-width: 380px;
  width: 90%;
}
@media screen and (min-width: 620px) {
  .sides-container .right > * {
    max-width: 280px;
    min-width: 280px;
    position: relative;
    top: -20px;
  }
}
.sides-container .right #info {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media screen and (min-width: 620px) {
  .sides-container .right #info {
    display: block;
  }
}
.sides-container .right #info h2 {
  text-align: center;
}
.sides-container .right #info meter {
  height: 30px;
  width: 100%;
}
.sides-container .right #info meter::-webkit-meter-optimum-value {
  background-color: #EF7523;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sides-container .right #info meter::-moz-meter-bar {
  background-color: #EF7523;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.sides-container .right #info .line {
  border-top: 2px solid black;
  margin-left: 5%;
  width: 90%;
}
.sides-container .right #info .rating {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.sides-container .right #info .rating span {
  border-radius: 6px;
  height: 20px;
  width: 20px;
}
.sides-container .right #info .rating span:not(.fill) {
  background-color: rgb(200, 200, 200);
}
.sides-container .right #info .rating.lvl1 .fill {
  background-color: rgb(50, 205, 50);
}
.sides-container .right #info .rating.lvl2 .fill {
  background-color: rgb(255, 255, 0);
}
.sides-container .right #info .rating.lvl3 .fill {
  background-color: rgb(255, 165, 0);
}
.sides-container .right #info .rating.lvl4 .fill {
  background-color: rgb(255, 99, 71);
}
.sides-container .right #info .rating.lvl5 .fill {
  background-color: rgb(255, 0, 0);
}

footer {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
}
footer a, footer p {
  color: black;
  display: inline;
  font-size: 16px;
  text-decoration: none;
}
footer .treverton-link {
  font-weight: 800;
  left: 16px;
  position: absolute;
}

.logs {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  row-gap: 20px;
}
.logs .create-log {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  transition: background-color 0.15s;
}
.logs .create-log:hover {
  background-color: rgb(240, 240, 240);
  border: 2px dashed rgb(50, 50, 50);
}
.logs .create-log .create-button {
  align-items: center;
  background-color: rgb(200, 200, 200);
  border-radius: 30px;
  color: rgb(50, 50, 50);
  display: flex;
  font-size: 50px;
  height: 60px;
  justify-content: center;
  margin-bottom: 10px;
  width: 60px;
}
.logs .loading {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 100%;
}
.logs .loading button {
  color: blue;
}
.logs .loading p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.logs .loading-text {
  font-size: 20px;
  text-align: center;
}
.logs .log {
  position: relative;
}
.logs .log .bottom-bar {
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
}
.logs .log .bottom-bar * {
  cursor: pointer;
}
.logs .log .items {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.logs .log .items .item {
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  flex-basis: content;
  flex-grow: 1;
  padding: 8px;
}
.logs .display .items .sublogs {
  min-width: 100%;
}
.logs .input {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.logs .input .create,
.logs .input .save {
  background-color: #EF7523;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.logs .input .create:hover,
.logs .input .save:hover {
  background-color: #f29354;
}
.logs .input .create {
  height: 45px;
  width: 200px;
}
.logs .input .save {
  height: 30px;
  width: 133px;
}
.logs .input .required::after {
  color: rgb(200, 0, 0);
  content: " *";
}
.logs .input .items {
  width: 100%;
}
.logs .input .items .date input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}
.logs .input .items .duration .input-container {
  align-items: center;
  display: flex;
}
.logs .input .items .duration .input-container p:not(:last-child) {
  margin-right: 10px;
}
.logs .input .items .duration .input-container p.colon {
  font-size: 20px;
  font-weight: 500;
}
.logs .input .items .duration .input-container input {
  border: none;
  height: 30px;
  position: relative;
  text-align: center;
  width: 20px;
}
.logs .input .items .duration .input-container input:focus {
  outline: none;
}
.logs .input .items .slider {
  min-width: 100%;
}
@media screen and (min-width: 480px) {
  .logs .input .items .slider {
    min-width: 400px;
  }
}
.logs .input .items .slider input {
  cursor: pointer;
  width: 100%;
}
.logs .input .items .text-long {
  min-width: 100%;
}
.logs .input .items .text-long textarea {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  min-height: 50px;
  padding: 8px;
  resize: vertical;
  width: 100%;
}
.logs .input .items .text-long textarea:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}
.logs .input .items .text-short input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  height: 30px;
  padding: 4px;
  width: 100%;
}
.logs .input .items .text-short input:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

.topbar,
.topbar-spacer {
  height: 100px;
}

.topbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  color: white;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.topbar .links {
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: none;
  height: 100%;
  justify-content: flex-end;
}
@media screen and (min-width: 550px) {
  .topbar .links {
    display: flex;
  }
}
.topbar .links a {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  height: 100%;
  width: 121px;
  cursor: pointer;
}
.topbar .links a:hover {
  color: #EF7523;
}
.topbar .links a.selected {
  border-bottom: 5px solid #EF7523;
  border-radius: 2px;
}
.topbar .search {
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 8px;
  display: none;
  height: 49px;
  padding: 0 16px;
  width: 500px;
}
@media screen and (min-width: 800px) {
  .topbar .search {
    display: flex;
  }
}
.topbar .search input {
  background: transparent;
  border: none;
  color: #949494;
  font-size: 16px;
  height: 100%;
  outline: none;
  text-indent: 16px;
  width: 100%;
}
.topbar .search .vertical-line {
  border-left: 2px solid #949494;
  height: 24px;
  margin-left: 16px;
}

#logo {
  cursor: pointer;
  height: 48px;
  width: 131px;
}

#search-icon {
  cursor: pointer;
}

#sign-in-button {
  background-color: #EF7523;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.1s;
  white-space: nowrap;
}
#sign-in-button:hover {
  background-color: #f29354;
}