* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #0064ee;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #219ad6;
  text-decoration: underline;
}

h1 {
  font-family: Georgia;
}

h2 {
  font-family: Calibri;
}
h2.heading {
  text-transform: uppercase;
}

ol.spacious > li:not(:first-child),
ul.spacious > li:not(:first-child) {
  margin-top: 20px;
}

.content-block-container {
  min-height: 90vh;
}

.center-rh {
  display: flex;
  justify-content: center;
}

.center-rv {
  align-items: center;
  display: flex;
}

.center-chv {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-rhv {
  align-items: center;
  display: flex;
  justify-content: center;
}

.invisible {
  display: none !important;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.plr16 {
  padding-left: 16px;
  padding-right: 16px;
}

.spacer.v10 {
  height: 10px;
}

.spacer.v20 {
  height: 20px;
}

.spacer.v40 {
  height: 40px;
}

.spacer.v60 {
  height: 60px;
}

.spacer.v80 {
  height: 80px;
}

button.primary,
button.secondary {
  border-radius: 4px;
  font-weight: 500;
}

button.primary {
  background-color: #EF7523;
  border: none;
  color: white;
}
button.primary:hover {
  background-color: #f29354;
}

button.secondary {
  background-color: transparent;
  border: 2px solid #EF7523;
  color: #EF7523;
}
button.secondary:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

joined-buttons {
  display: inline-block;
  margin-left: 5%;
  width: 90%;
}
joined-buttons .buttons {
  display: flex;
}
joined-buttons .buttons a {
  text-align: center;
  text-decoration: none;
}
joined-buttons .buttons a,
joined-buttons .buttons button {
  background-color: rgb(100, 100, 100);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 0;
  cursor: pointer;
}
joined-buttons .buttons a:hover,
joined-buttons .buttons button:hover {
  background-color: rgb(110, 110, 110);
}
joined-buttons .buttons a:first-child,
joined-buttons .buttons button:first-child {
  border-radius: 4px 0 0 4px;
}
joined-buttons .buttons a:last-child,
joined-buttons .buttons button:last-child {
  border-radius: 0 4px 4px 0;
}
joined-buttons .buttons .joiner {
  border-right: 3px solid black;
}
joined-buttons .underline {
  background-color: #EF7523;
  border-radius: 3px;
  height: 3px;
  margin-top: 3px;
  transition: 0.2s;
}

.hamburger-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 38px;
  min-width: 38px;
  row-gap: 8px;
}
.hamburger-icon div {
  background-color: rgb(150, 150, 150);
  border-radius: 3px;
  height: 4px;
  transition: 0.25s;
  width: 100%;
}
.hamburger-icon.active div:nth-child(1) {
  transform: rotateZ(-45deg) translateY(9px) translateX(-8px);
}
.hamburger-icon.active div:nth-child(2) {
  width: 0;
}
.hamburger-icon.active div:nth-child(3) {
  transform: rotateZ(45deg) translateY(-9px) translateX(-8px);
}

.material-icons {
  color: rgb(148, 148, 148);
}

.notice {
  align-items: flex-start;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  padding: 20px;
}
.notice::before {
  font-weight: 600;
  margin-right: 10px;
}
.notice.error {
  border-left: 4px solid rgb(231, 76, 60);
}
.notice.error .material-icons.notice-type {
  color: rgb(231, 76, 60);
}
.notice.info {
  border-left: 4px solid rgb(52, 152, 219);
}
.notice.info .material-icons.notice-type {
  color: rgb(52, 152, 219);
}
.notice.success {
  border-left: 4px solid rgb(0, 167, 74);
}
.notice.success .material-icons.notice-type {
  color: rgb(0, 167, 74);
}
.notice.warning {
  border-left: 4px solid rgb(243, 156, 18);
}
.notice.warning .material-icons.notice-type {
  color: rgb(243, 156, 18);
}
.notice p {
  align-items: center;
  display: flex;
  min-height: 24px;
}

.slideshow {
  overflow: hidden;
}
.slideshow .card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .card-container .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .indicator-container {
  align-items: center;
  bottom: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  left: 50%;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
}
.slideshow .indicator-container .indicator {
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  transition: 0.5s;
  width: 10px;
}
.slideshow .indicator-container .indicator.selected {
  background-color: rgb(50, 50, 50);
  height: 12px;
  transform: translateY(-5px);
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.7);
  width: 12px;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.col-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 620px) {
  .col-container {
    grid-template-columns: 10fr 1fr;
    grid-template-rows: auto 1fr;
  }
}
@media screen and (min-width: 900px) {
  .col-container {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: initial;
  }
}
.col-container .col1 {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px 16px;
  row-gap: 20px;
}
@media screen and (min-width: 620px) and (max-width: 899.9px) {
  .col-container .col1 {
    padding-top: initial;
  }
}
.col-container .col1 ol,
.col-container .col1 ul {
  margin-left: 20px;
}
.col-container .col2 {
  grid-row: 2/3;
}
@media screen and (min-width: 620px) {
  .col-container .col2 {
    grid-row: 1/3;
    padding-right: 20px;
  }
}
@media screen and (min-width: 900px) {
  .col-container .col2 {
    grid-row: initial;
  }
}
.col-container .col2 > * {
  margin: 0 auto;
  max-width: 380px;
  width: 90%;
}
@media screen and (min-width: 620px) {
  .col-container .col2 > * {
    max-width: 280px;
    min-width: 280px;
  }
}
.col-container .col2 #award-info {
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media screen and (min-width: 620px) {
  .col-container .col2 #award-info {
    display: block;
  }
}
.col-container .col2 #award-info h2 {
  text-align: center;
}
.col-container .col2 #award-info meter {
  height: 30px;
  width: 100%;
}
.col-container .col2 #award-info meter::-webkit-meter-optimum-value {
  background-color: #EF7523;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.col-container .col2 #award-info meter::-moz-meter-bar {
  background-color: #EF7523;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.col-container .col2 #award-info .line {
  border-top: 2px solid black;
  margin: 20px auto;
  width: 90%;
}
.col-container .col2 #award-info .link-group {
  align-items: center;
  display: flex;
}
.col-container .col2 #award-info .link-group:hover .material-icons.emerge {
  display: initial;
}
.col-container .col2 #award-info .link-group h3 {
  margin-right: 10px;
}
.col-container .col2 #award-info .link-group .material-icons {
  cursor: pointer;
  margin-right: 3px;
}
.col-container .col2 #award-info .link-group .material-icons.emerge {
  display: none;
}
.col-container .col2 #award-info .link-input-container {
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: flex;
  margin-top: 5px;
}
.col-container .col2 #award-info .link-input-container input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 4px;
  outline: none;
  padding: 4px;
  width: 100%;
}
.col-container .col2 #award-info .link-input-container .material-icons {
  cursor: pointer;
}
.col-container .col2 #award-info .rating {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.col-container .col2 #award-info .rating span {
  border-radius: 6px;
  height: 20px;
  width: 20px;
}
.col-container .col2 #award-info .rating span:not(.fill) {
  background-color: rgb(200, 200, 200);
}
.col-container .col2 #award-info .rating.lvl1 .fill {
  background-color: rgb(50, 205, 50);
}
.col-container .col2 #award-info .rating.lvl2 .fill {
  background-color: rgb(255, 255, 0);
}
.col-container .col2 #award-info .rating.lvl3 .fill {
  background-color: rgb(255, 165, 0);
}
.col-container .col2 #award-info .rating.lvl4 .fill {
  background-color: rgb(255, 99, 71);
}
.col-container .col2 #award-info .rating.lvl5 .fill {
  background-color: rgb(255, 0, 0);
}
.col-container .col2 #award-info #award-status {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
}
.col-container .col2 #award-info #award-status-info {
  margin-top: 10px;
}
.col-container .col2 #award-info #decline-container {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
  margin-top: 10px;
}
.col-container .col2 #award-info #decline-container.open {
  background-color: rgb(240, 240, 240);
  padding: 8px;
}
.col-container .col2 #award-info #decline-container.open .bottom {
  height: initial;
}
.col-container .col2 #award-info #decline-container.open .top .dropdown {
  transform: rotateZ(180deg);
}
.col-container .col2 #award-info #decline-container:hover {
  background-color: rgb(230, 230, 230);
  padding: 8px;
}
.col-container .col2 #award-info #decline-container:active {
  background-color: rgb(210, 210, 210);
  transition: 0s;
}
.col-container .col2 #award-info #decline-container .bottom {
  height: 0;
  overflow: hidden;
}
.col-container .col2 #award-info #decline-container .bottom button {
  background-color: #EF7523;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
}
.col-container .col2 #award-info #decline-container .bottom button:hover {
  background-color: #f29354;
}
.col-container .col2 #award-info #decline-container .bottom p {
  font-size: 14px;
}
.col-container .col2 #award-info #decline-container .top {
  position: relative;
}
.col-container .col2 #award-info #decline-container .top .dropdown {
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.25s;
}
.col-container .col2 #award-info #decline-container .bottom p {
  font-size: 14px;
}
.col-container .col2 #award-info #request-container {
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.col-container .col2 #award-info #request-container button {
  background-color: rgb(100, 100, 100);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 8px;
  transition: 0.15s;
}
.col-container .col2 #award-info #request-container button:hover {
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(1px) translateY(-1px);
}
.col-container .col2 #award-info #request-container .info {
  cursor: pointer;
  position: relative;
}
.col-container .col2 #award-info #request-container .info p {
  background-color: rgba(100, 100, 100, 0.9);
  bottom: 0;
  border-radius: 4px;
  color: white;
  display: none;
  font-size: 14px;
  padding: 8px;
  position: absolute;
  word-wrap: normal;
  width: 200px;
  right: 0;
  white-space: normal;
}
.col-container .col2 #award-info #request-container .info:hover p {
  display: block;
}
.col-container .col2 #award-info #requested-container {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  margin-top: 10px;
}
.col-container .col2 #award-info #requested-container button {
  background-color: rgb(100, 100, 100);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
}
.col-container .col2 #award-info #requested-container button:hover {
  background-color: rgb(120, 120, 120);
}
.col-container .col2 #award-info #requested-container p {
  font-weight: 500;
}
.col-container .col2 #award-info #requested-container p::before {
  color: rgb(231, 76, 60);
  content: "! ";
  font-weight: 900;
}
.col-container .col3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  padding: 16px;
  row-gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 620px) {
  .col-container .col3 {
    grid-column: 1/2;
  }
}
@media screen and (min-width: 900px) {
  .col-container .col3 {
    grid-column: initial;
    grid-row: initial;
    padding: 16px 16px 16px 0;
    row-gap: 20px;
    width: 180px;
  }
}
.col-container .col3 > div {
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.col-container .col3 > div p {
  color: #0064ee;
  flex-basis: 100%;
  margin-right: 5px;
  text-decoration: underline;
}
.col-container .col3 > div:hover p {
  color: #219ad6;
}
.col-container .col3 > div:active p {
  color: #EF7523;
}

.login-notice {
  background-color: black;
  color: white;
  padding: 8px 64px;
}
.login-notice p {
  font-size: 14px;
}

#logs-section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#signoffs {
  align-items: flex-start;
  display: grid;
  gap: 10px 50px;
  grid-template-columns: 1fr;
  padding: 0 16px;
}
@media screen and (min-width: 900px) {
  #signoffs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  #signoffs {
    grid-template-columns: repeat(3, 1fr);
  }
}
#signoffs h3 {
  color: rgb(25, 25, 25);
  font-size: 20px;
  font-weight: 600;
}
#signoffs .signoff {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
}
#signoffs .signoff.open {
  background-color: rgb(240, 240, 240);
  padding: 8px;
}
#signoffs .signoff.open .bottom {
  height: initial;
}
#signoffs .signoff.open .top .dropdown {
  transform: rotateZ(180deg);
}
#signoffs .signoff:hover {
  background-color: rgb(230, 230, 230);
  padding: 8px;
}
#signoffs .signoff:active {
  background-color: rgb(210, 210, 210);
  transition: 0s;
}
#signoffs .signoff .bottom {
  height: 0;
  overflow: hidden;
}
#signoffs .signoff .bottom button {
  background-color: #EF7523;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
}
#signoffs .signoff .bottom button:hover {
  background-color: #f29354;
}
#signoffs .signoff .bottom p {
  font-size: 14px;
}
#signoffs .signoff .top {
  position: relative;
}
#signoffs .signoff .top .dropdown {
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.25s;
}
#signoffs .signoff .bottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  row-gap: 20px;
}
#signoffs .signoff .bottom .horizontal-container {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
}
#signoffs .signoff .top {
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
}
#signoffs .signoff .top .status {
  color: #EF7523;
}

footer {
  align-items: center;
  background-color: white;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
  z-index: 80;
}
footer a,
footer p {
  color: black !important;
  display: inline;
  font-size: 16px;
  text-decoration: none !important;
}
footer .treverton-link {
  font-weight: 800;
  left: 16px;
  position: absolute;
}

.logs {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  row-gap: 20px;
}
.logs .login-required {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 2px dashed rgb(50, 50, 50);
  border-radius: 16px;
  display: flex;
  height: 130px;
  justify-content: center;
}
.logs .login-required a {
  margin-right: 5px;
}
.logs .create-log {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  transition: background-color 0.15s;
}
.logs .create-log:hover {
  background-color: rgb(240, 240, 240);
  border: 2px dashed rgb(50, 50, 50);
}
.logs .create-log .create-button {
  align-items: center;
  background-color: rgb(200, 200, 200);
  border-radius: 30px;
  color: rgb(50, 50, 50);
  display: flex;
  font-size: 50px;
  height: 60px;
  justify-content: center;
  margin-bottom: 10px;
  width: 60px;
}
.logs .loading {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 100%;
}
.logs .loading button {
  color: blue;
}
.logs .loading p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.logs .loading-text {
  font-size: 20px;
  text-align: center;
}
.logs .log {
  position: relative;
}
.logs .log .bottom-bar {
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
}
.logs .log .bottom-bar * {
  cursor: pointer;
}
.logs .log .items {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.logs .log .items .item {
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  flex-basis: content;
  flex-grow: 1;
  padding: 8px;
}
.logs .display .items .sublogs {
  min-width: 100%;
}
.logs .input {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.logs .input .create,
.logs .input .save {
  background-color: #EF7523;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.logs .input .create:hover,
.logs .input .save:hover {
  background-color: #f29354;
}
.logs .input .create {
  height: 45px;
  width: 200px;
}
.logs .input .save {
  height: 30px;
  width: 133px;
}
.logs .input .required::after {
  color: rgb(231, 76, 60);
  content: " *";
}
.logs .input .items {
  width: 100%;
}
.logs .input .items .boolean div {
  margin-top: 10px;
}
.logs .input .items .boolean input {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}
.logs .input .items .date input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}
.logs .input .items .duration .input-container {
  align-items: center;
  display: flex;
}
.logs .input .items .duration .input-container p:not(:last-child) {
  margin-right: 10px;
}
.logs .input .items .duration .input-container p.colon {
  font-size: 20px;
  font-weight: 500;
}
.logs .input .items .duration .input-container input {
  border: none;
  height: 30px;
  position: relative;
  text-align: center;
  width: 20px;
}
.logs .input .items .duration .input-container input:focus {
  outline: none;
}
.logs .input .items .select select {
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 10px;
  outline: none;
  padding: 8px;
}
.logs .input .items .slider {
  min-width: 100%;
}
@media screen and (min-width: 480px) {
  .logs .input .items .slider {
    min-width: 400px;
  }
}
.logs .input .items .slider input {
  cursor: pointer;
  width: 100%;
}
.logs .input .items .text-long {
  min-width: 600px;
}
.logs .input .items .text-long textarea {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  min-height: 50px;
  outline: none;
  padding: 8px;
  resize: vertical;
  width: 100%;
}
.logs .input .items .text-long textarea:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.logs .input .items .text-short input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  height: 30px;
  outline: none;
  padding: 4px;
  width: 100%;
}
.logs .input .items .text-short input:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

#sidebar {
  background-color: white;
  border-bottom-left-radius: 100px;
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 80px;
  transition: 0.25s;
  width: 0;
  z-index: 90;
}
@media screen and (max-height: 360px) {
  #sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
#sidebar.visible {
  border-radius: 0;
  height: calc(100vh - 80px);
  width: 280px;
}
#sidebar a,
#sidebar button {
  background-color: rgb(230, 230, 230);
  border: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  text-align: left;
  text-decoration: none;
}
#sidebar a:hover,
#sidebar button:hover {
  background-color: rgb(240, 240, 240);
  color: #EF7523;
}

.topbar,
.topbar-spacer {
  height: 80px;
}

.topbar {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-around;
  padding-right: 78px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 1000px) {
  .topbar {
    padding-right: 32px;
  }
}
.topbar .account-display {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  cursor: pointer;
  display: flex;
}
.topbar .account-display div {
  display: none;
}
@media screen and (min-width: 600px) {
  .topbar .account-display div {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .topbar .account-display div {
    display: none;
  }
}
@media screen and (min-width: 1350px) {
  .topbar .account-display div {
    display: block;
  }
}
.topbar .account-display img {
  border-radius: 25px;
  height: 43px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 43px;
}
.topbar .account-display .email {
  color: rgb(148, 148, 148);
  font-size: 14px;
}
.topbar .account-display .name {
  font-size: 16px;
}
.topbar .logo {
  cursor: pointer;
  height: 48px;
  margin: 0 32px;
  width: 131px;
}
@media screen and (min-width: 1000px) {
  .topbar .logo {
    margin: 0 64px;
  }
}
.topbar .search {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  display: none;
  height: 49px;
  margin-right: 32px;
  padding: 0 16px;
  width: 500px;
}
@media screen and (min-width: 1220px) {
  .topbar .search {
    display: flex;
  }
}
.topbar .search input {
  background: transparent;
  border: none;
  color: rgb(100, 100, 100);
  font-size: 16px;
  height: 100%;
  outline: none;
  text-indent: 16px;
  width: 100%;
}
.topbar .search .vertical-line {
  border-left: 2px solid rgb(148, 148, 148);
  height: 24px;
  margin-left: 16px;
}
.topbar .search #search-icon {
  cursor: pointer;
}
.topbar .sign-in {
  background-color: #EF7523;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.1s;
  white-space: nowrap;
}
.topbar .sign-in:hover {
  background-color: #f29354;
}
.topbar #sidebar-icon {
  position: absolute;
  right: 20px;
}
@media screen and (min-width: 1000px) {
  .topbar #sidebar-icon {
    display: none;
  }
}
.topbar #topbar-links {
  -moz-column-gap: 40px;
       column-gap: 40px;
  display: none;
  flex-grow: 0.25;
  height: 100%;
  justify-content: space-between;
  margin-right: 48px;
}
@media screen and (min-width: 1000px) {
  .topbar #topbar-links {
    display: flex;
  }
}
@media screen and (min-width: 1220px) {
  .topbar #topbar-links .search-link {
    display: none;
  }
}
.topbar #topbar-links a {
  align-items: center;
  color: rgb(58, 58, 58);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  max-width: 120px;
  position: relative;
  text-decoration: none;
}
.topbar #topbar-links a:hover {
  color: #EF7523;
}
.topbar #topbar-links a.selected .underline {
  border-radius: 2px;
  border-top: 5px solid #EF7523;
  bottom: 0;
  position: absolute;
  width: min(150%, 120px);
}