extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block style
  style.
    .letter-items {
      display: grid;
      gap: 10px 40px;
      grid-template-columns: repeat(3, max-content);
    }

block top
  div
    p The aim of the Solitaire Award is to:

    .spacer.v20

    ol.spacious
      li.
        Provide you with the novel experience of being alone,
        without the usual reinforcing comforts of a secure shelter, food, reading material and other diversions such as music,
        internet, movies and social media.
      li.
        Challenge your ability to make constructive use of your time,
        using your initiative in making your 48 hours as comfortable as possible.
      li.
        Give you an unhindered opportunity to contemplate God's creation and your place in it,
        your own existence (life's journey traveled thus far) and your future role in society (the path still to travel i.e. life direction).

block requirements
  ol.spacious
    li Read the chapter in <i>Reach Beyond</i> entitled <i>On your Own</i>.
    li The supervisor will show you to your site - you are restricted to an area of roughly ten square metres.
    li Your first objective is to build a shelter. Do not build it too close to the water's edge or under a bank in case heavy rains occur.
    li In case of severe lightning move away from trees and sit in the open.
    li When the supervisors pass you on Saturday and Sunday raise your hand but do not communicate in any other way.
    li.
      On Sunday, when you are told that your time is up, destroy and scatter the parts of your shelter.
      There must be no indication of your presence left behind (minimal impact - leave no trace).

block extra
  div
    h2.heading Item Specification

    .spacer.v20

    h3 Allowed

    .spacer.v20

    ul
      li Rain suit
      li Sleeping bag
      li 3 litres of water (you must provide your own containers - plan ahead)
      li 2 metre groundsheet (provided) - bring your own string/rope
      li Bible
      li Writing/sketching materials in an envelope
      li Jeans, jersey and jacket
      li Camera, binoculars
      li One standard size match box containing objects of your own choice (<b>except matches</b>)
      li Food pack

    .spacer.v20

    h3 Not Allowed

    .spacer.v20

    ul
      li Watch
      li Reading material (except a Bible)
      li Cell phone, iPod/MP3 player or any other distraction

block out
  div.plr16
    h2.heading Solitaire Questionnaire
    p.limit-width.
      Make use of this opportunity to the best of your ability.
      Do not be tempted to cheat as you only cheat yourself in the end.
      Here are some questions to help you focus on things other than hunger or boredom.

    .spacer.v20

    .cards
      div
        h3 Family
        .spacer.v20
        ul
          li Describe the members of your family.
          li How well do you relate to each other?
          li Have you done things to harm this relationship?
          li What are your family goals for the future?

      div
        h3 School
        .spacer.v20
        ul
          li Describe your special friends.
          li Why are they your friends?
          li What do you see in them?
          li What do they see in you?
          li Describe your feelings towards academics, sport and dormitory life.

      div
        h3 Outdoor Persuits
        .spacer.v20
        ul
          li In what ways are you making use of the O.P. programme?
          li What do you hope to achieve?

      div
        h3 Environment
        .spacer.v20
        ul
          li Do you care for the natural environment?
          li Does it concern you to see it harmed?
          li In what ways are you enjoying this time in the environment?
          li Now take time to describe your surroundings, the small details you would normally miss or take for granted.

      div
        h3 Solitaire
        .spacer.v20
        ul
          li What are your aims for this exercise? Have you achieved these?
          li How have your attitudes changed during the last 48 hours?
          li Describe your hunger, loneliness, fears, wonder, excitement, peace and satisfaction.

      div
        h3 Letter
        p Write a letter to yourself and set goals for the year(s) ahead:
        .spacer.v20
        ul.letter-items
          li Academics
          li Religious convictions
          li Family
          li Sport
          li Personal habits
          li Friends
          li O.P.
          li Career
          li Other

block script
  script.
    setAward("solitaire")
    setDifficulty(3)
    setSkillLevel(2)
    showLogs("solitaire")