extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block requirements
  ol.spacious
    li Organise a solitaire exercise from start to finish, taking responsibility for all aspects of organisation including:
      .spacer.v20
      ul
        li Term calendar arrangements (with MIC)
        li Transport arrangements
        li Kitchen arrangements (with MIC)
        li Briefing of learners
        li Checking of learner's bags
        li Assigning sites to learners
        li Performing frequent checks during the day to prevent cheating on the part of persons doing their first solitaire
  
  .spacer.v20

  .notice(data-type="success") Performing these tasks is a service to solitaire and making the MIC's job easier will encourage more solitaire experiences to happen!

block script
  script.
    setAward("solitaireLeader")
    setDifficulty(1)
    setSkillLevel(1)