doctype html
head(lang="en")
  title Topal BETA
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")

  script(src="/javascripts/global/cookies.js")
  script(src="/javascripts/global/data.js")
  script(src="/javascripts/global/logs.js")
  script(src="/javascripts/global/rest.js")
  script(src="/javascripts/global/slideshow.js")
  script(src="/javascripts/global/utility.js")

  block head
  block assets
body
  block style
  block body

  script.
    // generate notices
    for (let e of document.getElementsByClassName("notice")) {
        const type = e.getAttribute("data-type")
        if (type) createNotice(type, { r: e, t: e.innerHTML })
    }