* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: $color-accent-400;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $color-accent-300;
        text-decoration: underline;
    }
}

h1 {
    font-family: Georgia;
}

h2 {
    font-family: Calibri;

    &.heading {
        text-transform: uppercase;
    }
}

ol,
ul {
    &.spacious {
        >li:not(:first-child) {
            margin-top: 20px;
        }
    }
}

.content-block-container {
    min-height: 90vh;
}