.flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.pl8 {
    padding-left: 8px;
}

.pl16 {
    padding-left: 16px;
}

.spacer.v10 {
    height: 10px;
}

.spacer.v20 {
    height: 20px;
}

.spacer.v40 {
    height: 40px;
}

.spacer.v60 {
    height: 60px;
}

.spacer.v80 {
    height: 80px;
}