extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  p TODO

block script
  script.
    setAward("rockClimbingInstructor")
    setDifficulty(4)
    setSkillLevel(4)
    showLogs("rockClimbingInstruction")