extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  ol.spacious
    li You must know the safety rules outlined below.
    li Have all the necessary signoffs.

block extra
  div
    h2.heading Climbing Safety Rules

    .spacer.v20

    ol.spacious
      li Read chapter 4 <i>Ever Upward</i> in <i>Reach Beyond</i> available at the school's stationery or O.P. office.
      li Use a belay and harness when climbing on the school climbing walls as well as when climbing real rock.
      li It is essential to use a helmet for protection when climbing or abseiling on rock.
      li Abseiling is always to be done belayed by a competent belayer. It is during abseiling that most sport climbing injuries occur.
    
    .spacer.v20

    .notice(data-type="warning").
      The inside or outside wall may only be used under the supervision of an approved belayer (decided by the TIC) with a Rock Climbing Award.
      Each instructor may be responsible for no more than four climbers per session.
    
    .spacer.v20

    .notice(data-type="error") Abseiling at Treverton is always done while belayed on another rope (no acceleration)!
    
    .spacer.v20

    .notice(data-type="info") Unless specified, signoffs may be done on either the indoor or outdoor walls.

block script
  script.
    setAward("rockClimbing")
    setDifficulty(3)
    setSkillLevel(4)
    showLogs("rockClimbing")