extends ./service-layout

block top
  p.
    The Serice Instructor Award was created to encourage learners to both continue in their awareness of the needs of others
    as well as to provide an incentive for further service.
    In addition the intention is that learners learn basic management skills as they serve others and organise both tasks and people.

block requirements
  ol.spacious
    li You will have responsibility for arranging you own form of service activity in conjunction with the MIC.
    li The award will consist of community service for at least an additional <b>75 hours</b>.
    li.
      These activities should be unsolicited and continuous efforts on one project rather than doing the odd
      hours of service just for the sake of an award.
      The Service Instructor Award is recognition for service beyond the call of normal duty.
  
  .spacer.v20

  .notice(data-type="info").
    In special cases the MIC might approve of a project of over 100 hours duration to allow a learner to proceed directly
    from the Service Award to the Service Instructor Award.

block s
  script.
    setAward("serviceInstructor")
    setDifficulty(4)
    setSkillLevel(1)
    showHours(75)