extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block top
  p.
    The Serice Leader Award was created to encourage learners to both continue in their awareness of the needs of other
    and to develop the ability to encourage and organise others to serve others.

block requirements
  ol.spacious
    li You will have responsibility for arranging you own form of service activity in conjunction with the MIC.
    li The award will consist of community service for at least an additional <b>150 hours</b> cumulative service over a minimum period of eight weeks.
    li.
      The Service Leader Award will be granted in cases of extreme merit where the applicant has not only satisfied the
      objective demands of the award (i.e. 150 hours cumulative service), but where the applicant has encouraged,
      organised and motivated others to join in a service project.

block script
  script.
    setAward("serviceLeader")
    setDifficulty(3)
    setSkillLevel(1)
    showLogs("service")