extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")s

block top
  p.
    The Service Award was created to encourage an awareness of the needs of others and to provide a tangible means of expressing
    the responsibility of members of a community for one another.

block requirements
  ol.spacious
    li You will have responsibility for arranging your own form of service activity in conjunction with a Service Instructor.
    li The award will consist of community service for at least <b>25 hours</b>. This could consist of activities such as:
      .spacer.v20
      ul
        li Helping elderly people with chores or visits
        li Clearing of exotics from indigenous bush
        li Environmental projects
        li Teaching disadvantaged learners
        li Fundraising for charity
        li Ambulance volunteer work
        li Assisting in school projects and functions
        li Library service
        li Acting as sports officials
        li Administrative assistance on an ongoing basis (i.e. not an hour or two picked up here and there)
  
  .spacer.v20

  .notice(data-type="info").
    It is an important part of the Service Award that the service should be self-motivated - you may respond to someone else's idea,
    but you must want to do the service and not merely achieve the award!
  
  .spacer.v20

  .notice(data-type="warning").
    All projects and designated supervisors must be approved by the MIC before the project is started!
    Your log for a project must be signed off to prove this.

block script
  script.
    setAward("service")
    setDifficulty(2)
    setSkillLevel(1)