$footer-breakpoint-a: 700px;
$footer-breakpoint-b: 1150px;

footer {
    background-color: white;
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.15);
    display: grid;
    padding: 16px;
    position: relative;
    z-index: 80;

    a {
        color: black;
        text-decoration: none;
    }

    .footer-col1 {
        column-gap: 20px;
        display: flex;
        justify-content: center;

        img {
            aspect-ratio: 981 / 1130;
            cursor: pointer;
            height: 100px;
        }

        .help {
            padding-top: 10px;

            a {
                font-style: italic;
            }

            p {
                font-size: 12px;
                max-width: 200px;
            }
        }
    }

    .footer-col2 {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-top: 20px;
        row-gap: 20px;

        @media screen and (min-width: $footer-breakpoint-a) {
            flex-direction: row;
            justify-content: space-around;
            margin-left: 0;
        }

        @media screen and (min-width: $footer-breakpoint-b) {
            margin-top: 10px;
            padding-right: 60px;
        }

        a {
            display: block;
            width: max-content;
        }

        p.heading {
            color: rgb(150, 150, 150);
            font-size: 14px;
        }
    }

    .footer-col3 {
        display: flex;
        justify-content: center;
        margin: 40px auto 0 auto;
        width: 80%;

        @media screen and (min-width: $footer-breakpoint-b) {
            grid-column: 1 / 3;
            margin-top: 0;
        }
    }
}