$account-display-breakpoint-1: 600px;
$account-display-breakpoint-2: 1350px;
$links-breakpoint: 1050px;
$search-bar-breakpoint: 1220px;

header,
.header-spacer {
    height: $header-height;
}

header {
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    padding-right: 78px;
    position: fixed;
    width: 100%;
    z-index: 100;

    @media screen and (min-width: $links-breakpoint) {
        padding-right: 32px;
    }

    .logo {
        cursor: pointer;
        height: 48px;
        margin: 0 32px;
        width: 131px;

        @media screen and (min-width: $links-breakpoint) {
            margin: 0 64px;
        }
    }

    .search {
        align-items: center;
        background-color: rgb(240, 240, 240);
        border-radius: 8px;
        display: none;
        height: 49px;
        margin-right: 32px;
        padding: 0 16px;
        width: 500px;

        @media screen and (min-width: $search-bar-breakpoint) {
            display: flex;
        }

        input {
            background: transparent;
            border: none;
            color: rgb(100, 100, 100);
            font-size: 16px;
            height: 100%;
            outline: none;
            text-indent: 16px;
            width: 100%;
        }

        .vertical-line {
            border-left: 2px solid rgb(148, 148, 148);
            height: 24px;
            margin-left: 16px;
        }

        #search-icon {
            cursor: pointer;
        }
    }

    .sign-in {
        background-color: $color-primary-400;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.1s;
        white-space: nowrap;

        &:hover {
            background-color: $color-primary-300;
        }
    }

    #account-display {
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        display: flex;

        div {
            display: none;

            @media screen and (min-width: $account-display-breakpoint-1) {
                display: block;
            }

            @media screen and (min-width: $links-breakpoint) {
                display: none;
            }

            @media screen and (min-width: $account-display-breakpoint-2) {
                display: block;
            }
        }

        img {
            border-radius: 25px;
            height: 43px;
            object-fit: cover;
            width: 43px;
        }

        .email {
            color: rgb(148, 148, 148);
            font-size: 14px;
        }

        .name {
            font-size: 16px;
        }
    }

    #header-links {
        column-gap: 40px;
        display: none;
        flex-grow: 0.25;
        height: 100%;
        justify-content: space-between;
        margin-right: 48px;

        @media screen and (min-width: $links-breakpoint) {
            display: flex;
        }

        @media screen and (min-width: $search-bar-breakpoint) {
            .search-link {
                display: none;
            }
        }

        a {
            align-items: center;
            color: rgb(58, 58, 58);
            display: flex;
            font-size: 16px;
            font-weight: 500;
            justify-content: center;
            position: relative;
            text-decoration: none;

            &:hover {
                color: $color-primary-400;
            }

            &.selected .underline {
                border-radius: 2px;
                border-top: 5px solid $color-primary-400;
                bottom: 0;
                position: absolute;
                width: min(150%, 120px);
            }
        }
    }

    #sidebar-icon {
        position: absolute;
        right: 20px;

        @media screen and (min-width: $links-breakpoint) {
            display: none;
        }
    }
}