$account-display-breakpoint: 530px;
$links-breakpoint: 780px;
$search-bar-breakpoint: 1050px;

.topbar,
.topbar-spacer {
    height: $topbar-height;
}

.topbar {
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    column-gap: 20px;
    display: flex;
    justify-content: space-around;
    padding: 0 78px 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;

    .links {
        align-items: center;
        column-gap: 20px;
        display: none;
        height: 100%;
        justify-content: flex-end;

        @media screen and (min-width: $links-breakpoint) {
            display: flex;
        }

        a {
            align-items: center;
            color: rgb(58, 58, 58);
            display: flex;
            font-weight: 500;
            font-size: 16px;
            height: 100%;
            justify-content: center;
            text-decoration: none;
            width: 120px;

            cursor: pointer;

            &:hover {
                color: $color-primary-400;
            }

            &.selected {
                border-bottom: 5px solid $color-primary-400;
                border-radius: 2px;
            }
        }
    }

    .logo {
        cursor: pointer;
        height: 48px;
        width: 131px;
    }

    .search {
        align-items: center;
        background-color: #EFEFEF;
        border-radius: 8px;
        display: none;
        height: 49px;
        padding: 0 16px;
        width: 500px;

        @media screen and (min-width: $search-bar-breakpoint) {
            display: flex;
        }

        input {
            background: transparent;
            border: none;
            color: #949494;
            font-size: 16px;
            height: 100%;
            outline: none;
            text-indent: 16px;
            width: 100%;
        }

        .vertical-line {
            border-left: 2px solid #949494;
            height: 24px;
            margin-left: 16px;
        }

        #search-icon {
            cursor: pointer;
        }
    }

    .sign-in {
        background-color: $color-primary-400;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        padding: 8px;
        text-decoration: none;
        transition: background-color 0.1s;
        white-space: nowrap;

        &:hover {
            background-color: $color-primary-300;
        }
    }

    #account-display {
        align-items: center;
        column-gap: 10px;
        display: none;

        @media screen and (min-width: $account-display-breakpoint) {
            display: flex;
        }

        img {
            border-radius: 25px;
            height: 45px;
            object-fit: cover;
            width: 45px;
        }

        .email {
            color: rgb(148, 148, 148);
            font-size: 14px;
        }

        .name {
            font-size: 16px;
        }
    }

    #sidebar-icon {
        position: absolute;
        right: 20px;
    }
}