a.primary,
button.primary,
a.secondary,
button.secondary {
    border-radius: 4px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
}

a.primary,
button.primary {
    background-color: $color-button;
    border: 2px solid transparent;
    color: white;

    &:hover {
        background-color: $color-button-primary-hover;
    }
}

a.secondary,
button.secondary {
    background-color: transparent;
    border: 2px solid $color-button;
    color: $color-button;

    &:hover {
        background-color: $color-button-secondary-hover;
    }
}