@mixin joined-button-style() {
    background-color: rgb(100, 100, 100);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 0;

    &:hover {
        background-color: rgb(110, 110, 110);
    }
}

joined-buttons {
    display: inline-block;
    margin-left: 5%;
    width: 90%;

    .buttons {
        display: flex;

        a {
            text-align: center;
            text-decoration: none
        }

        a,
        button {
            @include joined-button-style();
            cursor: pointer;

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        }

        .joiner {
            border-right: 3px solid black;
        }
    }

    .underline {
        background-color: $color-primary-400;
        border-radius: 3px;
        height: 3px;
        margin-top: 3px;
        transition: 0.2s;
    }
}