.notice {
    align-items: flex-start;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    column-gap: 10px;
    display: flex;
    padding: 20px;

    @mixin notice($color) {
        border-left: 4px solid $color;

        .material-icons.notice-type {
            color: $color;
        }
    }

    &::before {
        font-weight: 600;
        margin-right: 10px;
    }

    &.error {
        @include notice($color-error);
    }

    &.info {
        @include notice($color-info);
    }

    &.success {
        @include notice($color-success);
    }

    &.warning {
        @include notice($color-warning);
    }

    .text-container {
        align-items: center;
        display: flex;
        min-height: 24px;
    }
}