extends ../layout

block assets
  link(rel='stylesheet' href='/stylesheets/pages/generic-award.css')
  script(src='/javascripts/general/generic-award.js')

block content
  //- h1 Running Logs
  //- .spacer.v20
  //- .logs(data-type="running")

  //- .spacer.v80

  h1 Rock Climbing Logs
  .spacer.v20
  .logs(data-type="rockClimbing")