@import "../../global";

.bulk-update-row {
    column-gap: 20px;
    display: flex;

    button {
        cursor: pointer;
        padding: 4px 8px;
    }
}

.user {
    @include alternating-background-gray();
    padding: 16px 32px;

    input {
        height: 20px;
        margin-right: 10px;
        width: 20px;
    }

    p.amount {
        color: $color-primary-500;
    }

    p.name {
        font-size: 24px;
        font-weight: 600;
    }

    .info {
        align-items: center;
        column-gap: 20px;
        display: flex;
        flex-direction: column;

        button {
            cursor: pointer;
            margin-top: 10px;
            padding: 2px 4px;
        }

        @media screen and (min-width: 650px) {
            flex-direction: row;

            button {
                margin-top: 0;
            }
        }
    }

    .items {
        display: grid;
        grid-template-columns: repeat(1, max-content max-content);
        margin-top: 20px;
        row-gap: 20px;

        @media screen and (min-width: 700px) {
            grid-template-columns: repeat(2, max-content max-content);
        }

        @media screen and (min-width: 1000px) {
            grid-template-columns: repeat(3, max-content max-content);
        }

        @media screen and (min-width: 1300px) {
            grid-template-columns: repeat(4, max-content max-content);
        }

        @media screen and (min-width: 1600px) {
            grid-template-columns: repeat(5, max-content max-content);
        }

        p {
            margin-right: 80px;
        }
    }
}

#bulk-update-info {
    margin-top: 20px;
}