$columns-breakpoint: 900px;
$corner-details-transition: 0.15s;
$profile-sidebar-width: 300px;

#corner-details {
    align-items: center;
    border-bottom-left-radius: 8px;
    column-gap: 10px;
    display: flex;
    min-width: 150px;
    padding: 8px 20px 8px 8px;
    position: fixed;
    right: 0;
    top: $topbar-height;
    transition: $corner-details-transition;
    z-index: 80;

    @media screen and (min-width: $columns-breakpoint) {
        display: none;
    }

    &.scrolled {
        background-color: rgb(255, 255, 255, 0.8);
        box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);

        img {
            opacity: 1;
        }

        p {
            color: rgb(0, 0, 0);
        }
    }

    img {
        border-radius: 48px;
        height: 40px;
        opacity: 0;
        transition: $corner-details-transition;
        width: 40px;
    }

    p {
        color: rgb(0, 0, 0, 0);
        font-size: 16px;
        font-weight: 600;
        transition: $corner-details-transition;
        width: min-content;
    }
}

.col1 {
    box-shadow: 5px 0 5px rgb(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;

    @media screen and (min-width: $columns-breakpoint) {
        height: calc(100vh - $topbar-height);
        position: fixed;
        width: $profile-sidebar-width;
    }

    .email {
        color: rgb(100, 100, 100);
        font-size: 14px;
    }

    .line {
        border-top: 2px solid rgb(50, 50, 50);
        margin-left: 5%;
        width: 90%;
    }

    .name-and-picture {
        align-items: center;
        column-gap: 20px;
        display: flex;
        justify-content: center;
        padding: 0 16px;
        transition: 0.5s;

        img {
            border-radius: 48px;
            height: 96px;
            width: 96px;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            width: min-content;
        }
    }
}

.col2 {
    @media screen and (min-width: $columns-breakpoint) {
        margin-left: $profile-sidebar-width;
        width: calc(100% - $profile-sidebar-width);
    }
}