@import "./profile-layout";

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    a {
        @include alternating-background-gray();
        @include hover-grow();
        align-items: center;
        border-radius: 8px;
        color: black;
        cursor: pointer;
        display: flex;
        font-weight: 500;
        height: 50px;
        justify-content: space-between;
        padding: 16px;
        text-decoration: none;
        width: 300px;
        flex-grow: 1;

        .request-count {
            align-items: center;
            border: 2px solid $color-error;
            border-radius: 10px;
            color: $color-error;
            display: flex;
            height: 20px;
            justify-content: center;
            width: 20px;
        }
    }
}