@import "./profile-layout";

.ruler {
    border-top: 2px solid black;
    margin: 30px auto;
    width: 98%;
}

.subruler {
    border-top: 2px solid rgb(100, 100, 100);
    margin: 20px auto;
    width: 90%;
}

.status {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;

    >:first-child {
        align-items: center;
        column-gap: 10px;
        display: flex;
    }

    >:not(:first-child) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .request-container {
        >:nth-child(2) {
            font-size: 14px;
        }

        .decline-info {
            font-size: 12px;
            margin-top: 10px;
            width: 200px;
        }

        .row {
            column-gap: 5px;
            display: flex;
            margin-top: 10px;

            button {
                cursor: pointer;
                padding: 4px 8px;
            }

            input {
                padding: 4px;
            }
        }
    }

    .toggle-button {
        cursor: pointer;
        padding: 8px;
    }
}

#links {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, max-content);

    .link-icon {
        cursor: pointer;
    }
}

#signoffs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}