extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  p TODO

block script
  script.
    setAward("endurance")
    setDifficulty(3)
    setSkillLevel(2)