extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  ol.spacious
    li Achieve both awards twice over in less than two years while having shown competence in advising others in training.
    li You will need to have the relevant signoffs and accepts the responsibilities of an instructor on application for your award (i.e. you must have proven ability before receiving the award).

block extra
  h2.heading Responsibilities Of An Endurance Instructor

  .spacer.v20

  ol.spacious
    li Promote endurance sport at Treverton.
    li Assist the TIC wherever possible.
    li Organise and motivate training runs, outrides, training sessions, paddling trips, etc.
    li Organise internal competitive runs.
    li Organise time trials.

block script
  script.
    setAward("enduranceInstructor")
    setDifficulty(3)
    setSkillLevel(2)
    showLogs("endurance")