* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #0794bb;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #0fb0dd;
  text-decoration: underline;
}

.block-content-container {
  min-height: 90vh;
}

.flex-center, .banner .top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invisible {
  display: none !important;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.spacer.v10 {
  height: 10px;
}

.spacer.v20 {
  height: 20px;
}

.spacer.v40 {
  height: 40px;
}

.spacer.v60 {
  height: 60px;
}

.spacer.v80 {
  height: 80px;
}

.hamburger-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 38px;
  min-width: 38px;
  row-gap: 8px;
}
.hamburger-icon div {
  background-color: rgb(150, 150, 150);
  border-radius: 3px;
  height: 4px;
  transition: 0.25s;
  width: 100%;
}
.hamburger-icon.active div:nth-child(1) {
  transform: rotateZ(-45deg) translateY(9px) translateX(-8px);
}
.hamburger-icon.active div:nth-child(2) {
  width: 0;
}
.hamburger-icon.active div:nth-child(3) {
  transform: rotateZ(45deg) translateY(-9px) translateX(-8px);
}

.material-icons {
  color: rgb(148, 148, 148);
}

.slideshow {
  overflow: hidden;
}
.slideshow .card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .card-container .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .indicator-container {
  align-items: center;
  bottom: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  left: 50%;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
}
.slideshow .indicator-container .indicator {
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  transition: 0.5s;
  width: 10px;
}
.slideshow .indicator-container .indicator.selected {
  background-color: rgb(50, 50, 50);
  height: 12px;
  transform: translateY(-5px);
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.7);
  width: 12px;
}

.col-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 620px) {
  .col-container {
    grid-template-columns: 10fr 1fr;
    grid-template-rows: auto 1fr;
  }
}
@media screen and (min-width: 900px) {
  .col-container {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: initial;
  }
}
.col-container .col1 {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px 0;
  row-gap: 20px;
}
@media screen and (min-width: 620px) and (max-width: 899.9px) {
  .col-container .col1 {
    padding-top: initial;
  }
}
.col-container .col1 > * {
  padding: 0 16px;
  text-align: justify;
}
.col-container .col1 .requirements ol,
.col-container .col1 .requirements ul {
  margin-left: 20px;
}
.col-container .col1 .requirements > ol,
.col-container .col1 .requirements > ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.col-container .col2 {
  grid-row: 2/3;
}
@media screen and (min-width: 620px) {
  .col-container .col2 {
    grid-row: 1/3;
    padding-right: 20px;
  }
}
@media screen and (min-width: 900px) {
  .col-container .col2 {
    grid-row: initial;
  }
}
.col-container .col2 > * {
  margin: 0 auto;
  max-width: 380px;
  width: 90%;
}
@media screen and (min-width: 620px) {
  .col-container .col2 > * {
    max-width: 280px;
    min-width: 280px;
  }
}
.col-container .col2 #info {
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media screen and (min-width: 620px) {
  .col-container .col2 #info {
    display: block;
  }
}
.col-container .col2 #info h2 {
  text-align: center;
}
.col-container .col2 #info meter {
  height: 30px;
  width: 100%;
}
.col-container .col2 #info meter::-webkit-meter-optimum-value {
  background-color: #EF7523;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.col-container .col2 #info meter::-moz-meter-bar {
  background-color: #EF7523;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.col-container .col2 #info .line {
  border-top: 2px solid black;
  margin: 20px 0 20px 5%;
  width: 90%;
}
.col-container .col2 #info .rating {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.col-container .col2 #info .rating span {
  border-radius: 6px;
  height: 20px;
  width: 20px;
}
.col-container .col2 #info .rating span:not(.fill) {
  background-color: rgb(200, 200, 200);
}
.col-container .col2 #info .rating.lvl1 .fill {
  background-color: rgb(50, 205, 50);
}
.col-container .col2 #info .rating.lvl2 .fill {
  background-color: rgb(255, 255, 0);
}
.col-container .col2 #info .rating.lvl3 .fill {
  background-color: rgb(255, 165, 0);
}
.col-container .col2 #info .rating.lvl4 .fill {
  background-color: rgb(255, 99, 71);
}
.col-container .col2 #info .rating.lvl5 .fill {
  background-color: rgb(255, 0, 0);
}
.col-container .col2 #info #award-status {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
}
.col-container .col2 #info #award-status-info {
  margin-top: 10px;
}
.col-container .col2 #info #request-container {
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.col-container .col2 #info #request-container button {
  background-color: rgb(100, 100, 100);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 8px;
  transition: 0.15s;
}
.col-container .col2 #info #request-container button:hover {
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(1px) translateY(-1px);
}
.col-container .col2 #info #request-container .info {
  cursor: pointer;
  position: relative;
}
.col-container .col2 #info #request-container .info p {
  background-color: rgba(100, 100, 100, 0.9);
  bottom: 0;
  border-radius: 4px;
  color: white;
  display: none;
  font-size: 14px;
  padding: 8px;
  position: absolute;
  word-wrap: normal;
  width: 200px;
  right: 0;
  white-space: normal;
}
.col-container .col2 #info #request-container .info:hover p {
  display: block;
}
.col-container .col3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  padding: 16px;
  row-gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 620px) {
  .col-container .col3 {
    grid-column: 1/2;
  }
}
@media screen and (min-width: 900px) {
  .col-container .col3 {
    grid-column: initial;
    grid-row: initial;
    padding: 16px 16px 16px 0;
    row-gap: 20px;
    width: -moz-min-content;
    width: min-content;
  }
}
.col-container .col3 > div {
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.col-container .col3 > div p {
  color: rgb(0, 100, 238);
  flex-basis: 100%;
  margin-right: 5px;
  text-decoration: underline;
}
.col-container .col3 > div:hover p {
  color: rgb(0, 160, 238);
}
.col-container .col3 > div:active p {
  color: #EF7523;
}

.login-notice {
  background-color: black;
  color: white;
  padding: 8px 64px;
}
.login-notice p {
  font-size: 14px;
}

#logs-section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

footer {
  align-items: center;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
}
footer a,
footer p {
  color: black;
  display: inline;
  font-size: 16px;
  text-decoration: none;
}
footer .treverton-link {
  font-weight: 800;
  left: 16px;
  position: absolute;
}

.logs {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  row-gap: 20px;
}
.logs .login-required {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 2px dashed rgb(50, 50, 50);
  border-radius: 16px;
  display: flex;
  height: 130px;
  justify-content: center;
}
.logs .login-required a {
  margin-right: 5px;
}
.logs .create-log {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  transition: background-color 0.15s;
}
.logs .create-log:hover {
  background-color: rgb(240, 240, 240);
  border: 2px dashed rgb(50, 50, 50);
}
.logs .create-log .create-button {
  align-items: center;
  background-color: rgb(200, 200, 200);
  border-radius: 30px;
  color: rgb(50, 50, 50);
  display: flex;
  font-size: 50px;
  height: 60px;
  justify-content: center;
  margin-bottom: 10px;
  width: 60px;
}
.logs .loading {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 100%;
}
.logs .loading button {
  color: blue;
}
.logs .loading p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.logs .loading-text {
  font-size: 20px;
  text-align: center;
}
.logs .log {
  position: relative;
}
.logs .log .bottom-bar {
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
}
.logs .log .bottom-bar * {
  cursor: pointer;
}
.logs .log .items {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.logs .log .items .item {
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  flex-basis: content;
  flex-grow: 1;
  padding: 8px;
}
.logs .display .items .sublogs {
  min-width: 100%;
}
.logs .input {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.logs .input .create,
.logs .input .save {
  background-color: #EF7523;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.logs .input .create:hover,
.logs .input .save:hover {
  background-color: #f29354;
}
.logs .input .create {
  height: 45px;
  width: 200px;
}
.logs .input .save {
  height: 30px;
  width: 133px;
}
.logs .input .required::after {
  color: rgb(200, 0, 0);
  content: " *";
}
.logs .input .items {
  width: 100%;
}
.logs .input .items .date input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}
.logs .input .items .duration .input-container {
  align-items: center;
  display: flex;
}
.logs .input .items .duration .input-container p:not(:last-child) {
  margin-right: 10px;
}
.logs .input .items .duration .input-container p.colon {
  font-size: 20px;
  font-weight: 500;
}
.logs .input .items .duration .input-container input {
  border: none;
  height: 30px;
  position: relative;
  text-align: center;
  width: 20px;
}
.logs .input .items .duration .input-container input:focus {
  outline: none;
}
.logs .input .items .slider {
  min-width: 100%;
}
@media screen and (min-width: 480px) {
  .logs .input .items .slider {
    min-width: 400px;
  }
}
.logs .input .items .slider input {
  cursor: pointer;
  width: 100%;
}
.logs .input .items .text-long {
  min-width: 100%;
}
.logs .input .items .text-long textarea {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  min-height: 50px;
  padding: 8px;
  resize: vertical;
  width: 100%;
}
.logs .input .items .text-long textarea:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}
.logs .input .items .text-short input {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 8px;
  height: 30px;
  padding: 4px;
  width: 100%;
}
.logs .input .items .text-short input:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

.logs-login-required {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
  transition: background-color 0.15s;
}
.logs-login-required:hover {
  background-color: rgb(240, 240, 240);
  border: 2px dashed rgb(50, 50, 50);
}

#sidebar {
  background-color: white;
  border-bottom-left-radius: 100px;
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 80px;
  transition: 0.25s;
  width: 0;
  z-index: 50;
}
@media screen and (max-height: 360px) {
  #sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
#sidebar.visible {
  border-radius: 0;
  height: calc(100vh - 80px);
  width: 280px;
}
#sidebar a,
#sidebar button {
  background-color: rgb(230, 230, 230);
  border: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  text-align: left;
  text-decoration: none;
}
#sidebar a:hover,
#sidebar button:hover {
  background-color: rgb(240, 240, 240);
  color: #EF7523;
}

.topbar,
.topbar-spacer {
  height: 80px;
}

.topbar {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 78px 0 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.topbar .links {
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: none;
  height: 100%;
  justify-content: flex-end;
}
@media screen and (min-width: 780px) {
  .topbar .links {
    display: flex;
  }
}
.topbar .links a {
  align-items: center;
  color: rgb(58, 58, 58);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  cursor: pointer;
}
.topbar .links a:hover {
  color: #EF7523;
}
.topbar .links a.selected {
  border-bottom: 5px solid #EF7523;
  border-radius: 2px;
}
.topbar .logo {
  cursor: pointer;
  height: 48px;
  width: 131px;
}
.topbar .search {
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 8px;
  display: none;
  height: 49px;
  padding: 0 16px;
  width: 500px;
}
@media screen and (min-width: 1050px) {
  .topbar .search {
    display: flex;
  }
}
.topbar .search input {
  background: transparent;
  border: none;
  color: #949494;
  font-size: 16px;
  height: 100%;
  outline: none;
  text-indent: 16px;
  width: 100%;
}
.topbar .search .vertical-line {
  border-left: 2px solid #949494;
  height: 24px;
  margin-left: 16px;
}
.topbar .search #search-icon {
  cursor: pointer;
}
.topbar .sign-in {
  background-color: #EF7523;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.1s;
  white-space: nowrap;
}
.topbar .sign-in:hover {
  background-color: #f29354;
}
.topbar #account-display {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: none;
}
@media screen and (min-width: 530px) {
  .topbar #account-display {
    display: flex;
  }
}
.topbar #account-display img {
  border-radius: 25px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 45px;
}
.topbar #account-display .email {
  color: rgb(148, 148, 148);
  font-size: 14px;
}
.topbar #account-display .name {
  font-size: 16px;
}
.topbar #sidebar-icon {
  position: absolute;
  right: 20px;
}

.banner {
  background-image: url("/assets/backgrounds/home.webp");
  height: 980px;
  position: relative;
}
.banner .top {
  padding: 0 20px;
}
.banner .top h1 {
  color: #EF7523;
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
  margin-top: 150px;
  text-align: center;
  text-transform: uppercase;
}
.banner .top p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 880px;
  text-align: center;
}
@media screen and (min-width: 450px) {
  .banner .top h1 {
    font-size: 60px;
  }
  .banner .top p {
    font-size: 20px;
  }
}
.banner .top .links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  justify-content: center;
  margin-top: 32px;
}
.banner .top .links a {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  width: 175px;
}
.banner .top .links .primary {
  background-color: #EF7523;
  border: none;
  color: white;
}
.banner .top .links .primary:hover {
  background-color: #f29354;
}
.banner .top .links .secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #EF7523;
  color: #EF7523;
}
.banner .top .links .secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.banner .slideshow {
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0;
  color: white;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.banner .slideshow .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}
.banner .slideshow .card button {
  background-color: white;
  border: none;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  margin: 20px 0 40px 0;
  width: 175px;
}
.banner .slideshow .card button:hover {
  background-color: #dcdcdc;
}
.banner .slideshow .card h1 {
  font-size: 38px;
  font-weight: 300;
  margin-top: 20px;
}
.banner .slideshow .card p {
  font-size: 18px;
  font-weight: 500;
  padding: 0 50px;
}
@media screen and (min-width: 400px) {
  .banner .slideshow .card h1 {
    font-size: 48px;
  }
  .banner .slideshow .card p {
    font-size: 25px;
  }
}
@media screen and (min-width: 600px) {
  .banner .slideshow .card h1 {
    font-size: 64px;
  }
  .banner .slideshow .card p {
    font-size: 30px;
  }
}
.banner .slideshow .card .date {
  bottom: 18px;
  color: rgb(200, 200, 200);
  font-size: 20px;
  font-weight: 600;
  left: 18px;
  position: absolute;
}
.banner .slideshow .next {
  right: -40px;
}
.banner .slideshow .next img {
  left: 5px;
}
.banner .slideshow .previous {
  left: -40px;
}
.banner .slideshow .previous img {
  right: 5px;
}
.banner .slideshow .next,
.banner .slideshow .previous {
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 70px;
  position: absolute;
  top: 90px;
  width: 70px;
  z-index: 10;
}
.banner .slideshow .next:hover,
.banner .slideshow .previous:hover {
  background-color: #dcdcdc;
}
.banner .slideshow .next img,
.banner .slideshow .previous img {
  height: 26px;
  position: absolute;
  top: 24.5px;
  width: 26px;
}