extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  ol.spacious
    li You should have completed the award and be currently involved as a senior member.
    li The Polar Bear Instructor is responsible for assisting the TIC with ticking off names every Wednesday morning.
    li The Polar Bear Instructor is responsible for administration of the entire club activities such as:
      .spacer.v20
      ul
        li Ensuring "head wetting"
        li Arranging bonfire and Crazy Bear on coldest morning of the year
        li End of year celebration
        li Assistance with certificates and signing of Logbooks
  
  .spacer.v20

  .notice(data-type="info") The award will be made at the end of the year after you have provided your value by a year of service.

  .spacer.v20

  .notice(data-type="warning") A learner wishing to serve as a Polar Bear instructor must make an application to the TIC before the first Polar Bear of the year.

block script
  script.
    setAward("polarBearInstructor")
    setDifficulty(3)
    setSkillLevel(1)