extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block requirements
  ol.spacious
    li You must have been a member of Polar Bear for at least two years.
    li You must have been an instructor or currently be an instructor.
    li.
      Take complete responsibility for organizing, administrating and motivating the Polar Bear Club for one year
      after which on recommendation of the MIC will you be awarded the Polar Bear Leader Award.

  .spacer.v20

  .notice(data-type="warning") A learner wishing to serve as a Polar Bear leader must make an application to the MIC before the first Polar Bear of the year.

block script
  script.
    setAward("polarBearLeader")
    setDifficulty(3)
    setSkillLevel(2)