extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block style
  style.
    p.bold {
      font-weight: 600;
    }

block requirements
  ol.spacious
    li You must have logged one of the following:
      .spacer.v20
      div.pl16
        p.bold either
        .spacer.v10
        p.pl16 Spend a total of four days, two nights hiking in the lower Berg or suitably challenging natural area such as the Umkomaas Valley or Wild Coast.
        .spacer.v10
        p.bold or
        .spacer.v10
        p.pl16 Spend at least two days, one night making a continuous ascent of at least 700m.
    li Have the required signoffs from an instructor or a staff member leading a Berg trip.

block script
  script.
    setAward("drakensberg")
    createShortcut("Summit Award", "right", () => location.href = "/awards/summit")
    createShortcut("Traverse Award", "right", () => location.href = "/awards/traverse")
    createShortcut("Mountaineering Instructor Award", "right", () => location.href = "/awards/mountaineering-instructor")
    createShortcut("Mountaineering Leader Award", "right", () => location.href = "/awards/mountaineering-leader")
    setDifficulty(1)
    setSkillLevel(2)
    showLogs("mountaineering")