extends ./mountaineering-layout

block requirements
  ol.spacious
    li You must have logged one of the following:
      .spacer.v20
      div.pl16
        p.option-indicator either
        .spacer.v10
        p.pl16 Spend a total of four days, two nights hiking in the lower Berg or suitably challenging natural area such as the Umkomaas Valley or Wild Coast.
        .spacer.v10
        p.option-indicator or
        .spacer.v10
        p.pl16 Spend at least two days, one night making a continuous ascent of at least 700m.
    li Have the required signoffs from an instructor or a staff member leading a Berg trip.

block s
  script.
    createShortcut("Summit Award", "right", "/awards/summit")
    createShortcut("Traverse Award", "right", "/awards/traverse")
    createShortcut("Instructor Award", "right", "/awards/mountaineering-instructor")
    createShortcut("Leader Award", "right", "/awards/mountaineering-leader")
    setAward("drakensberg")
    setDifficulty(1)
    setSkillLevel(2)