extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block top
  p.
    This award was created to award experience, achievement and leadership in mountain hiking.
    A Mountaineering Leader is someone who leads by example and who has a depth of knowledge and love for the mountains.
    An appreciation for wilderness and a real care for the environment is an important attribute of such a leader.

block requirements
  ol.spacious
    li Have spent at least ten nights on the escarpment and have a proven record of effective leadership as a Mountaineering Instructor.
    li Shown care and responsibility in your attitude towards other mountaineers.
    li.
      A Mountaineering Leader is someone who leads by example and who has a depth of knowledge and love for the mountains,
      along with an appreciation for wilderness and a real care for the environment.
    li.
      Responsibilities of a Leader Squad include instruction of learners and instructors as well as assistance in the running
      of the Treverton Hiking programme.

block script
  script.
    createShortcut("Drakensberg Award", "right", () => location.href = "/awards/drakensberg")
    createShortcut("Summit Award", "right", () => location.href = "/awards/summit")
    createShortcut("Traverse Award", "right", () => location.href = "/awards/traverse")
    setAward("mountaineeringLeader")
    setDifficulty(3)
    setSkillLevel(4)