extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block requirements
  p TODO

block script
  script.
    setAward("mountaineeringLeader")
    createShortcut("Drakensberg Award", "right", () => location.href = "/awards/drakensberg")
    createShortcut("Summit Award", "right", () => location.href = "/awards/summit")
    createShortcut("Traverse Award", "right", () => location.href = "/awards/traverse")
    setDifficulty(1)
    setSkillLevel(1)
    showLogs("mountaineering")