extends ./mountaineering-layout

block requirements
  ol.spacious
    li You must have the Traverse Award.
    li Have logged a total of at least six nights on the <b>summit</b> of the Berg.
    li Have the required signoffs from the MIC only.

block s
  script.
    createShortcut("Drakensberg Award", "right", "/awards/drakensberg")
    createShortcut("Summit Award", "right", "/awards/summit")
    createShortcut("Traverse Award", "right", "/awards/traverse")
    setAward("mountaineeringInstructor")
    setDifficulty(3)
    setSkillLevel(4)