extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block requirements
  ol.spacious
    li You must have the Drakensberg Award.
    li Have logged a total of four nights hiking in the Berg, including a 700m ascent.
    li Have the required signoffs from an instructor or a staff member leading a Berg trip.

block script
  script.
    setAward("summit")
    createShortcut("Drakensberg Award", "right", () => location.href = "/awards/drakensberg")
    createShortcut("Traverse Award", "right", () => location.href = "/awards/traverse")
    createShortcut("Mountaineering Instructor Award", "right", () => location.href = "/awards/mountaineering-instructor")
    createShortcut("Mountaineering Leader Award", "right", () => location.href = "/awards/mountaineering-leader")
    setDifficulty(2)
    setSkillLevel(3)
    showLogs("mountaineering")