extends ./mountaineering-layout

block requirements
  ol.spacious
    li You must have the Drakensberg Award.
    li Have logged a total of four nights hiking in the Berg, including a 700m ascent.
    li Have the required signoffs from an instructor or a staff member leading a Berg trip.

block s
  script.
    createShortcut("Drakensberg Award", "right", "/awards/drakensberg")
    createShortcut("Traverse Award", "right", "/awards/traverse")
    createShortcut("Instructor Award", "right", "/awards/mountaineering-instructor")
    createShortcut("Leader Award", "right", "/awards/mountaineering-leader")
    setAward("summit")
    setDifficulty(2)
    setSkillLevel(3)