$color-primary-300: #f29354;
$color-primary-400: #EF7523;

$color-accent-300: #0fb0dd;
$color-accent-400: #0794bb;

$white-hover: #dcdcdc;

$color-success: rgb(0, 167, 74);
$color-info: rgb(52, 152, 219);
$color-warning: rgb(243, 156, 18);
$color-error: rgb(231, 76, 60);