$color-primary-300: #f29354;
$color-primary-400: #f47721;

$color-accent-300: #219ad6;
$color-accent-400: #0064ee;
$color-accent-500: #22487f;

$color-button: $color-primary-400;
$color-button-primary-hover: $color-primary-300;
$color-button-secondary-hover: rgb(0, 0, 0, 0.05);

$white-hover: #dcdcdc;

$color-success: rgb(0, 167, 74);
$color-info: rgb(52, 152, 219);
$color-warning: rgb(243, 156, 18);
$color-error: rgb(231, 76, 60);