@mixin alternating-background($color-odd, $color-even) {
    &:nth-child(odd) {
        background-color: $color-odd;
    }

    &:nth-child(even) {
        background-color: $color-even;
    }
}

@mixin alternating-background-gray() {
    @include alternating-background(rgb(230, 230, 230), rgb(210, 210, 210));

    &:hover {
        @include alternating-background(rgb(240, 240, 240), rgb(220, 220, 220));
    }
}

@mixin hover-grow() {
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.005);
    }
}