extends ../layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/other/awards.css")

block content
  #cards-container
    .card(data-award="endurance")
      img(src="/assets/backgrounds/awards/endurance.jpg")
      .info
        h2
        p
        .links
          a(href="/awards/endurance") Endurance Award
          a(href="/awards/endurance-instructor") Instructor Award
          a(href="/awards/endurance-leader") Leader Award

    .card(data-award="kayaking")
      img(src="/assets/backgrounds/awards/kayaking.jpg")
      .info
        h2
        p
        .links
          a(href="/awards/kayaking") Kayaking Award
          a(href="/awards/kayaking-instructor") Instructor Award
          a(href="/awards/kayaking-leader") Leader Award

    .card(data-award="midmarMile")
      img(src="/assets/backgrounds/awards/midmar-mile.jpg")
      .info
        h2
        p
        .links
          a(href="/awards/midmar-mile") Midmar Mile Award
          a(href="/awards/midmar-mile-instructor") Instructor Award
          a(href="/awards/midmar-mile-leader") Leader Award

    #mountaineering-card.card
      img(src="/assets/backgrounds/awards/mountaineering.jpg" style="object-position: 100% 30%")
      .info
        h2
        p
        .links
          a(href="/awards/drakensberg") Drakensberg Award
          a(href="/awards/summit") Summit Award
          a(href="/awards/traverse") Traverse Award
          a(href="/awards/mountaineering-instructor") Instructor Award
          a(href="/awards/mountaineering-leader") Leader Award

    .card(data-award="polarBear")
      img(src="/assets/backgrounds/awards/polar-bear.jpg" style="object-position: 50% 30%")
      .info
        h2
        p
        .links
          a(href="/awards/polar-bear") Polar Bear Award
          a(href="/awards/polar-bear-instructor") Instructor Award
          a(href="/awards/polar-bear-leader") Leader Award

    .card(data-award="rockClimbing")
      img(src="/assets/backgrounds/awards/rock-climbing.jpg" style="object-position: 90% 30%")
      .info
        h2
        p
        .links
          a(href="/awards/rock-climbing") Rock Climbing Award
          a(href="/awards/rock-climbing-instructor") Instructor Award
          a(href="/awards/rock-climbing-leader") Leader Award

    .card(data-award="running")
      img(src="/assets/backgrounds/awards/running.jpg" style="object-position: 90% 40%")
      .info
        h2
        p
        .links
          a(href="/awards/running") Running Award

    .card(data-award="service")
      img(src="/assets/backgrounds/awards/service.png" style="object-position: 20% 100%")
      .info
        h2
        p
        .links
          a(href="/awards/service") Service Award
          a(href="/awards/service-instructor") Instructor Award
          a(href="/awards/service-leader") Leader Award

    .card(data-award="solitaire")
      img(src="/assets/backgrounds/awards/solitaire.jpg" style="object-position: 50% 25%")
      .info
        h2
        p
        .links
          a(href="/awards/solitaire") Solitaire Award
          a(href="/awards/solitaire-instructor") Instructor Award
          a(href="/awards/solitaire-leader") Leader Award

    .card(data-award="venture")
      img(src="/assets/backgrounds/awards/venture.jpg")
      .info
        h2
        p
        .links
          a(href="/awards/venture") Venture Award
          a(href="/awards/venture-leader") Leader Award

block script
  script.
    function setupCard(card, awardId, name, description) {
      const infoContainer = card.children[1].children
      infoContainer[0].innerHTML = name
      infoContainer[1].innerHTML = description

      card.addEventListener("click", e => {
        if (e.target.nodeName !== "A") {
          location.href = `/awards/${pascalToKebab(awardId)}`
        }
      })
    }

    for (let card of byId("cards-container").children) {
      const awardId = card.getAttribute("data-award")
      if (awardId) setupCard(card, awardId, getAwardName(awardId), getAwardDescription(awardId))
    }

    setupCard(byId("mountaineering-card"), "drakensberg", "Mountaineering", MOUNTAINEERING_DESCRIPTION)