extends ../layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block content
  .plrt16
    h1 Changelog

    .spacer.v40

    h2 10/10/2024
    ul
      li Added new awards admin page

    .spacer.v20

    h2 20/08/2024
    ul
      li Introduced version and changelog
      li Added house points display to home page