extends ../layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/other/credits.css")

block content
  .credits.p16
    h1 Credits
    .spacer.v10
    p A special thanks to the following people:

    .spacer.v20
    
    p.name Mr Townsend
    .spacer.v10
    p For all the meetings and helping me kick-start this project

    .spacer.v20
    
    p.name Mr Beddy
    .spacer.v10
    p Website hosting

    .spacer.v20

    p.name Jacques Conradie
    .spacer.v10
    p Profile page badges

    .spacer.v20
    
    p.name Eden Spivak
    .spacer.v10
    p Home page & profile stats page designs

    .spacer.v40

  .bottom
    img(src="/assets/logos/logo.svg")
    p by Caleb Jennings