extends ../layout

block assets
  link(rel='stylesheet' href='/stylesheets/pages/other/home.css')
  script(src='/javascripts/other/home.js')

block content
  .banner
    .top
      h1 Welcome to topal
      p.
        With Topal you can easily record and earn OP awards.
        Use the navigation bar at the top to view your awards.
        Find your friends' profiles using the search bar and see which awards they've completed.
      .links
        a(href="/awards").primary Awards
        a(href="/leaderboards").secondary Leaderboards

    #slideshow