extends ../layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/other/leaderboards.css")
  script(src="/javascripts/other/leaderboards.js")

block content
  #leaderboards-sidebar-icon.hamburger-icon
    span
    span
    span

  .cols
    #leaderboards-container.col1
      .leaderboard-background
      #viewport-slider.invisible
    #leaderboards-sidebar.col2
      h2 Leaderboards
      #leaderboard-selection

  template#leaderboard-template
    .podium
      .swallowtail-container.silver
        <svg class="swallowtail" width="100" height="339" viewBox="0 0 100 339" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100" height="290" fill="#C0C0C0" />
          <path d="M0.000904537 339L-3.52273e-07 289H50L0.000904537 339Z" fill="#C0C0C0" />
          <path d="M99.9991 339L100 289H50L99.9991 339Z" fill="#C0C0C0" />
        </svg>
        p.position 02
        img.profile-picture
        p.name
        p.grade
        p.value
        p.type
      .swallowtail-container.gold
        <svg class="swallowtail" width="100" height="371" viewBox="0 0 100 371" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100" height="322" fill="#FFCF40"/>
          <path d="M0.000904537 371L-3.52273e-07 321H50L0.000904537 371Z" fill="#FFCF40"/>
          <path d="M99.9991 371L100 321H50L99.9991 371Z" fill="#FFCF40"/>
        </svg>
        p.position 01
        img.profile-picture
        p.name
        p.grade
        p.value
        p.type
      .swallowtail-container.bronze
        <svg class="swallowtail" width="100" height="306" viewBox="0 0 100 306" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100" height="257" fill="#CD7F32" />
          <path d="M0.000904537 306L-3.52273e-07 256H50L0.000904537 306Z" fill="#CD7F32" />
          <path d="M99.9991 306L100 256H50L99.9991 306Z" fill="#CD7F32" />
        </svg>
        p.position 03
        img.profile-picture
        p.name
        p.grade
        p.value
        p.type