extends ../layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/generic.css")

block style
  style.
    .privacy-policy-container {
      padding: 16px;
    }

    .privacy-policy-container li, .privacy-policy-container p {
      margin-top: 20px;
    }

block content
  .privacy-policy-container
    h1 Privacy Policy

    p Effective Date: 1/2/2025

    p Topal ("we," "our," or "us") values your privacy and is committed to protecting your personal information. This Privacy Policy explains how we collect, use, and safeguard your information when you use our app.

    ol
      li Information We Collect
        p When you sign in to our app using your Google account, we collect the following information:

        ul
          li Email Address: Used to identify your account within our app.
          li First Name and Surname: Used and displayed throughout the app.
    
      li How We Use Your Information
        ul
          li Email Address:
            ul
              li To identify your account and provide personalized features.
              li To send necessary account-related communications.
          li First Name and Surname:
            ul
              li To personalize your experience within the app.
              li To display your name to you and other users where relevant.
      
      li Data Security
        p We take the security of your personal information seriously and use industry-standard measures to protect your data. However, no system is completely secure, and we cannot guarantee the absolute security of your information.
      
      li Sharing of Information
        p We do not sell, rent, or share your personal information with third parties except as required by law or to fulfill the app's functionality.
      
      li Your Rights
        p You can manage your account and personal information directly within the app. For further assistance, contact us at cableplays1912@gmail.com.
      
      li Changes to This Privacy Policy
        p We may update this Privacy Policy from time to time. We will notify you of any changes by updating the "Effective Date" above.
      
    p If you have any questions or concerns about this Privacy Policy, please contact us at cableplays1912@gmail.com.

    p By using our app, you agree to the terms outlined in this Privacy Policy.