extends ../layout

block assets
  link(rel='stylesheet' href='/stylesheets/pages/other/settings.css')
  script(src='/javascripts/other/settings.js')

block content
  h1.p16 Settings

  #settings
    .line

    .setting.profile-picture-setting
      p.title Current Photo
      div
        input#profile-picture-input(type="file" accept="image/*" style="display: none")
        img(src="/assets/backgrounds/awards/midmar-mile.jpg" onclick=`byId("profile-picture-input").click()`)
        p.remove Remove
      
    .line

    #name-setting.highlightable.setting
      .row
        p.title Name
        p.value= user.fullName
        .material-icons.edit edit
        .input-container.invisible
          select
            option None
            option Mr
            option Ms
            option Mrs
            option Dr
          input(placeholder="Name")
          input(placeholder="Surname")
          button.save Save
          .material-icons.cancel cancel
      #name-notice.invisible
        .notice(data-type="warning") Please use your real name!

    .line