extends ../layout

block assets
  link(rel="stylesheet" href='/stylesheets/pages/other/settings.css')
  script(src='/javascripts/other/settings.js')

block content
  h1.p16 Settings

  #settings
    .line

    #name-setting.highlightable.setting
      .row
        p.title Name
        p.value= user.fullName
        .material-icons.edit edit
        .input-container.invisible
          select
            option None
            option Mr
            option Ms
            option Mrs
            option Dr
          input(placeholder="Name")
          input(placeholder="Surname")
          button.save Save
          .material-icons.cancel cancel
      #name-notice.invisible
        .notice(data-type="warning") Please use your real name!

    .line

    .setting
      .row
        p.title Logout
        button.secondary(onclick="logoutButtonClicked()") Log out

    .line