extends ../award-layout

block assets
  link(rel="stylesheet" href="/stylesheets/pages/awards/generic.css")

block script
  block s
  script.
    if (isLoggedIn()) {
      const distanceDisplay = createElement("p", { t: LOADING_TEXT })

      appendInfo([
        createElement("h3", { t: "Distance Swum" }),
        distanceDisplay
      ])

      getRequest(`/users/${getUserId()}/awards/midmarMile/distance`).then(res => {
        const { distance } = res
        distanceDisplay.innerHTML = `${distance}m`
      })
    }