extends ./midmar-mile-layout

block requirements
  ol.spacious
    li Swim the Midmar Mile at least twice in a time of under <b>45 minutes</b>.
    li Have shown great discipline in training.
    li Have a clearly logged training record.
    li Assist the MIC in organising training sessions.
    li Be willing to assist in the administration and logistics of planning, organising the event as well as food, money and transport.
    li Must be seen to actively promote the Midmar Mile at Treverton.

block s
  script.
    setAward("midmarMileLeader")
    setDifficulty(2)
    setSkillLevel(1)